[2019-04-23 19:29] jonathanolson opened #1 "Density master checklist"
# Density master checklist

## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/notebooks/3863/pa

[2019-05-14 17:49] KatieWoe opened #2 "CT false is not a function"
Already documented in https://github.com/phetsims/buoyancy/issues/2, but replicating here for this sim
[code]

[2019-05-14 21:24] KatieWoe opened #3 "CT Error creating WebGL context"
[code]

[2019-06-07 20:33] jonathanolson commented on #3
I believe this should be fixed.

[2019-06-07 20:33] #3 closed

[2019-06-07 20:33] jonathanolson commented on #2
Sorry about that! I accidentally wrote `assert` instead of `assert && assert`, and it only fails for the built form. Should be fixed in master now.

[2019-06-07 20:33] #2 closed

[2019-07-02 15:41] KatieWoe opened #4 "CT cannot read property forEach of undefined"
[code]

[2019-07-02 17:29] jonathanolson commented on #4
I believe the above commit should fix this. I'll wait to ensure it's clear in CT.

[2019-07-02 19:06] jonathanolson commented on #4
This should be fixed, closing. Thanks for reporting!

[2019-07-02 19:06] #4 closed

[2020-01-23 17:29] mattpen opened #5 "Matt should be present for the next RC deploy"
See phetsims/perennial#146.

I'd like to be present for the next RC deploy so I can investigate permissions issues on bayes if needed.

[2020-02-13 23:31] DianaTavares opened #6 "Mystery screen design"
The Mistery screen mockup is the next one:
![image](https://user-images.githubusercontent.com/26031501/74486940-e0f42380-4e83-11ea-8ab0-6276242fb6db.png)

The user can change click in the different radio buttons to have another set o blocks with mistery mass, volume, and density.  The values of the mystery objects are:

Set 1 (the same that flash version of the sim):

Colors | yellow | blue | gree

[2020-02-13 23:41] DianaTavares opened #7 "ToDo list design meeting Feb13"
This is the list of some agreements from the design meeting:

- [x] The mockup for the one block/two blocks scene button was accepted, but the background has to be improved. Develop them with the common code. The panel is ready to be implemented! it's ok not to add the min and max values to the slide bars

![image](https://user-images.githubusercontent.com/26031501/74488268-439aee80-4e87-11ea-84f3

[2020-03-05 20:28] jonathanolson commented on #7
I think it was previous decided that the "title font" would be used here, which is also used e.g. as the "Density Readout (kg/L)". Should all of those be un-bolded, or should the mass/volume labels be different (and NOT used that shared font)?

[2020-03-05 20:38] DianaTavares commented on #7
What I mean by "mass and volume labels" are the ones that indicate the values of these variables in the pool and in the blocks. You already change them to un-bolded (screenshot from slack).  Amanda, Kathy and I agreed that un-bolded look better.

<img width="386" alt="Screen Shot 2020-02-18 at 11 33 13 AM" src="https://user-images.githubusercontent.com/26031501/76023256-6cdef580-5eee-11ea-86d2-ca6

[2020-03-09 21:42] jonathanolson commented on #6
Implemented the initial version of this, available at https://phet-dev.colorado.edu/html/density/1.0.0-dev.4/phet/density_en_phet.html.

Can I get feedback on how this looks/works?

[2020-03-09 21:43] jonathanolson commented on #7
These have been applied in https://phet-dev.colorado.edu/html/density/1.0.0-dev.4/phet/density_en_phet.html, how does that look?

[2020-03-09 21:45] jonathanolson opened #8 "One/Two mass selection positioning"
It's possible to center-align the buttons with the panel (horizontally), and bottom-align them with the pool, but on the intro screen this feels way too close to the reset-all button:

<img width="303" alt="Screen Shot 2020-03-09 at 3 43 56 PM" src="https://user-images.githubusercontent.com/480878/76260221-f22f1680-621c-11ea-832a-a500969c087a.png">

Thoughts?

[2020-03-09 22:12] arouinfar commented on #8
I like the bottom-alignment with the pool, but I think center-aligning the RadioButtonGroup with the panel above brings it too close the the ResetAllButton. In this case, I'd probably left-align the RadioButtonGroup with he panel above it.

[2020-03-09 22:18] DianaTavares commented on #8
I agree with @arouinfar, I think is better a left alignment with the panel.

[2020-03-09 22:24] DianaTavares commented on #7
I looks very well!
just the panels need to be the same color, and the density readout is darker than the other panels
![image](https://user-images.githubusercontent.com/26031501/76262570-4f799680-6222-11ea-9bdf-ad3937b4af09.png)

[2020-03-09 22:30] DianaTavares commented on #6
I think is very good! I don0t know if it is important, but looks a little strange when a very small block is under big blocks in the random option:

![image](https://user-images.githubusercontent.com/26031501/76262855-18f04b80-6223-11ea-94b5-105550183871.png)

Also, the scale must not be moved.

[2020-03-10 17:11] jonathanolson commented on #6
Implemented both of those (should be up on phettest), let me know if you want another dev version.

[2020-03-10 17:16] jonathanolson commented on #7
Handled the density readout background color in the above commit

[2020-03-10 17:24] arouinfar commented on #6
@jonathanolson I like the new stacking order.

I've noticed that roughly ~1/3 of the time, the stack of 3 blocks will have volumes large enough that the top block extends beyond the dev bounds. The sim is still usable in this state, but it does look a bit sloppy. @jonathanolson would there be a way to somehow limit the total volume to avoid this situation?

<img src="https://user-images.githubuser

[2020-03-10 17:37] DianaTavares commented on #7
In the sim in phettest I still seeing the Density Readout darker that the panel (is it only my perception?)

![image](https://user-images.githubusercontent.com/26031501/76341672-fc0b5500-62c2-11ea-9cba-82c4c28dc091.png)

Also, in some situations, the bouncing of the block looks strange. For example, in this gift, the styrofoam block doesn't stop bouncing:

![density](https://user-images.githubuser

[2020-03-10 17:58] jonathanolson commented on #6
I added a change that will put the largest blocks on the left, and ensure that there are enough smaller blocks where the stack of 3 on the right won't go past the top. Let me know how that looks?

[2020-03-10 18:27] jonathanolson commented on #7
Might be cached. I'm updating repos on phet-test, hopefully that will fix it for you.

Agreed, I need to investigate how to handle this with the physics model.

[2020-03-11 14:52] jonathanolson commented on #8
Implemented the left alignment.

[2020-03-11 16:42] arouinfar commented on #6
@jonathanolson the new stacking strategy is looking good in master.

It looks like the scale is non-pickable, which prevents the user from directly moving the scale. However, it is quite easy to move the scale by bumping into it with one of the blocks. I've accidentally knocked it off-screen a few times.

[2020-03-11 17:06] jonathanolson commented on #6
Whoops! Assigning to fix that.

[2020-03-12 20:40] jonathanolson commented on #6
Additional recommendations during design meeting:

Add a title on the Mystery screen for the "blocks" panel: "Blocks"
"Blocks Set 1" => "Set 1"

[2020-03-13 02:49] mattpen opened #9 "Delete temp production deploy"
Per request from @kathy-phet, there was a temporary dev version deployed to the production location. This must be removed from phet-server before version 1.0 is deployed with the build server.

It can be removed by running the following on phet-server:

`rm -rf /data/web/static/phetsims/sims/html/density`

Contact me if there are any questions.

[2020-03-16 23:03] ariel-phet commented on #8
Left alignment looks good to me on master. Closing

[2020-03-16 23:03] #8 closed

[2020-03-17 00:37] DianaTavares opened #10 "Screen icons"
what do you think about these icons for the screens?
Intro
![image](https://user-images.githubusercontent.com/26031501/76810800-f1662980-67b4-11ea-9af1-3867de04bc19.png)

Compare
![image](https://user-images.githubusercontent.com/26031501/76810811-ff1baf00-67b4-11ea-9aee-8b1118538da4.png)

Mistery
![image](https://user-images.githubusercontent.com/26031501/76810823-08a51700-67b5-11ea-8032-644c0e0d

[2020-03-17 01:18] ariel-phet commented on #10
@DianaTavares they are a bit too similar, and generally we try not to put text on icons.

1. For the first icon, I would just have a single block, ideally the simplest texture

2. For compare, having two blocks seems reasonable, but maybe just take off the masses

3. For mystery, perhaps use the scale?

[2020-03-17 03:32] DianaTavares commented on #10
The scale looks strange without 3D and I think that if one icon is 3D, then the others need to be as well.   What about this updated version:

![image](https://user-images.githubusercontent.com/26031501/76819324-72311f80-67cd-11ea-83dc-3827bb4b8210.png)

[2020-03-17 21:16] jonathanolson commented on #6
Implemented in master, do the changes look good?

[2020-03-18 01:53] DianaTavares commented on #6
Look nice, but I don see the labels:

 Mystery blocks with labels (top left?) with "1A", etc., or for random "A", "B" (left-to-right top-down)

[2020-03-18 01:56] DianaTavares commented on #6
And I like more the panels with white color. What do you think @arouinfar ?

[2020-03-18 14:28] oliver-phet opened #11 "User reported issue: water disappears"
**Problem description**
In the “Intro” tab the user has the ability to set the density to “Custom.”  If the user sets the mass to zero the block and the pool of water disappear.  The reset button properly returns the water.
**Steps to reproduce**
Just go to custom and adjust the mass to zero.
**Visuals**
At very low density (.03 kg/ 10 L) the mass begins to oscillate through the atmosphere.  I ass

[2020-03-18 23:27] arouinfar commented on #10
@DianaTavares I think the icons can be simple enough for @jonathanolson to draw in code, so the perspective should not be an issue.

I like your sketches of the Intro and Compare icons.

For Mystery, I think it's nice to include the scale, since it's only found on that screen. I would not include the readout on the scale, but I would consider keeping the question mark on the mass. A good compariso

[2020-03-18 23:43] arouinfar commented on #6
I'm seeing them in master @DianaTavares
![Density screenshot](https://user-images.githubusercontent.com/8419308/77017094-15ee0d00-693f-11ea-8d76-1215c83c60ca.png)

I think the controls blend in a bit too much on the white background. I prefer gray over white, but I think we could lighten the gray a bit to `rgb(240, 240, 240)` (right).
![image](https://user-images.githubusercontent.com/8419308/7701

[2020-03-18 23:47] DianaTavares commented on #10
Nice! then this is the update of the Mystery screen icon (I didn't delete the kg because I am not sure if without that is obvious that it is a scale):

![image](https://user-images.githubusercontent.com/26031501/77017310-c825d480-693f-11ea-925e-a206f20df932.png)

Then to have something like this:
![image](https://user-images.githubusercontent.com/26031501/77017634-906b5c80-6940-11ea-9fc3-a5288c6f5

[2020-03-19 18:57] DianaTavares commented on #6
I can see the labels on the mystery screen! I like how they look. Also, I agree with @arouinfar, the lighter gray looks good for the panels. I like the idea of:

I also think that is better if the scale is a solid color. At this moment it has like transparency and I feel that can get a little lost:

![image](https://user-images.githubusercontent.com/26031501/77104153-29ea4b00-69e1-11ea-9359-1df1a8

[2020-03-19 19:08] arouinfar commented on #6
To be clear, I'm referring to these components:
![image](https://user-images.githubusercontent.com/8419308/77105054-a29dd700-69e2-11ea-944d-19f41324c9cd.png)
![image](https://user-images.githubusercontent.com/8419308/77105074-a7fb2180-69e2-11ea-8be1-d12637e4acd9.png)

[2020-03-23 17:00] ariel-phet commented on #10
@DianaTavares those look good, but I would recommend 2 changes:

1. take away the "kg" on the scale. I think it does not need to be there to convey the meaning of the icon.

2. For the "Compare" screen, move the two blocks horizonatally away from each other so there is more negative space between them. They look a bit strange being so close together (maybe half a block width between them would be

[2020-03-24 23:29] DianaTavares commented on #10
ready!  I change the colors of the blocks because I feel that green can get more lost when is under the water that red.

Let me know what is the next step now!

![image](https://user-images.githubusercontent.com/26031501/77486233-c7d08200-6df4-11ea-9cbe-e7d74575475f.png)

[2020-03-25 03:42] ariel-phet commented on #10
@DianaTavares looks good to me

[2020-03-25 17:26] DianaTavares commented on #10
@jonathanolson, then these are the icons for the density sim. My 3D drawing in Illustrator is not the best, Can you do it in code?

[2020-03-26 15:12] jonathanolson commented on #6
Assorted tweaks for this now in master, can you take a look?

[2020-03-26 18:00] jonathanolson commented on #11
Handling zero-mass custom masses now.

I'm trying to reproduce the "oscillate through the atmosphere", but I'm not sure how. I've gotten that same density custom mass, and it seems to arc normally through the atmosphere.

Thoughts?

[2020-03-26 18:19] DianaTavares commented on #6
I like how the panels look and the color of the scale in the Mystery screen. I can't click on the scale and move it, but it can be pushed by the blocks.
![Untitled](https://user-images.githubusercontent.com/26031501/77681963-c077b880-6f5b-11ea-96d4-f1d559ba23a7.gif)
This issue was created for the development of the Mystery screen, and now it is a mix of several mini issues. Please @jonathanolson,

[2020-03-26 18:26] arouinfar commented on #11
@jonathanolson I think I've recreated what the user is talking about.

Steps to reproduce
1. Intro Screen
2. Select custom block
3. Set mass to 0.03 kg. There will be some visible oscillations when the mass gets that low.
4. Increase volume gradually. The mass will start to bounce, eventually escaping dev bounds.

![density](https://user-images.githubusercontent.com/8419308/77682469-9d99d400-6f5c-

[2020-03-26 18:32] DianaTavares commented on #11
haha, I was just doing the same but reducing the mass! I agree with @arouinfar With a minimum mass of 0.10 kg is good enough to explore materials with small density.
![density](https://user-images.githubusercontent.com/26031501/77683144-9a531800-6f5d-11ea-9677-233720445a67.gif)

[2020-03-26 18:32] arouinfar commented on #6
@jonathanolson @DianaTavares the current look in master isn't quite what I was suggesting, sorry for being unclear. I like using the light gray for the AccordionBox fill, but I was recommending that the rectangle containing Human, Glass, Titanium, etc. have a white fill. Similarly, the density table itself would have a white fill, but its AccordionBox would have a light gray fill like the other pa

[2020-03-26 18:43] DianaTavares commented on #6
Oh! you mean something like this:
![image](https://user-images.githubusercontent.com/26031501/77683967-daff6100-6f5e-11ea-862d-b0401a9306ba.png)
yes, you are right the with help to read better the text, but in this way, all the panels are the same color. Agree!!

[2020-03-26 19:22] arouinfar commented on #6
Exactly. Thanks for the mockup @DianaTavares.

[2020-03-26 20:49] jonathanolson commented on #10
Implemented initial versions of the icons, how do they look?

[2020-03-26 20:53] jonathanolson commented on #11
Implemented 0.1 minimum mass for those sliders, does the behavior on master look good?

[2020-03-26 21:05] jonathanolson commented on #6
The scale should now NOT move, and I believe I fixed up the colors. I'm fine handling in this issue or separate ones, no preference. Anything else to be done here?

[2020-03-26 21:35] arouinfar commented on #6
The colors and scale behavior is looking good to me.

[2020-03-26 21:37] arouinfar commented on #11
Looks good to me!

[2020-03-26 21:40] arouinfar commented on #10
The icons are generally looking good to me @jonathanolson, but they are pretty aliased. I think that's acceptable for the prototype, but I would want things looking crisper for actual production.

![image](https://user-images.githubusercontent.com/8419308/77699345-e0b57080-6f77-11ea-920a-9e72b7136388.png)
![image](https://user-images.githubusercontent.com/8419308/77699356-e612bb00-6f77-11ea-8403-9

[2020-03-26 23:28] DianaTavares commented on #11
It looks good!!

 But I see one bug. When I move the volume control, the mass also changes. that only happens when I put the minimus mass and then I increase and decrease the mass.  Last time it stops changing when it gets 1 kg, but in the gift only get till 0.3kg

![Untitled](https://user-images.githubusercontent.com/26031501/77706098-09913200-6f87-11ea-9a71-b4da70006876.gif)

[2020-03-26 23:31] DianaTavares commented on #10
I agree with @arouinfar

[2020-03-26 23:40] DianaTavares commented on #6
Yes, the colors and scale are perfect!

[2020-03-26 23:40] #6 closed

[2020-03-27 00:19] DianaTavares opened #12 "not allow to trow the blocks out of the sim"
Users can move the blocks outside the sim and lose them
![blocks](https://user-images.githubusercontent.com/26031501/77708072-a86c5d00-6f8c-11ea-917f-293a5339cdb8.gif)

[2020-03-27 04:17] jonathanolson opened #13 "Need to delay sim startup for three.js texture loading"
Since we're creating certain things like screen icons at a certain point, we really want to have three.js textures loaded before moving on with SimLauncher's creation of the screens. Otherwise we have unloaded image data at the start:

<img width="391" alt="Screen Shot 2020-03-26 at 10 17 06 PM" src="https://user-images.githubusercontent.com/480878/77721139-90f29b80-6faf-11ea-93a4-4ffbb08bdd6f.png

[2020-03-27 04:20] jonathanolson commented on #13
@ariel-phet the above change to SimLauncher should at a minimum be reviewed by someone familiar with the image/phetioEngine loading sequence (@samreid or @zepumph I believe), and it should be discussed if there's a better way to handle lock creation in general for the startup sequence.

[2020-03-27 04:21] jonathanolson commented on #12
How is this planned to be resolved? Invisible walls around the edge of the sim viewport (including at the top? just the sides?) A button to return anything that goes off-screen?

[2020-03-27 15:01] samreid commented on #13
I'd love to hear from @zepumph about this.  We discussed a more general mechanism for locking in SimLauncher, but settled on doing something specific to images and dynamic modules.  Now that we have other use cases like this texture, should we generalize this into a single pattern?

[2020-03-27 15:45] jonathanolson commented on #13
I think that would ideally be best.

[2020-03-27 18:04] jonathanolson commented on #10
Should be fixed on master now, can you verify?

[2020-03-27 19:16] DianaTavares commented on #10
I look very well, thanks!!
Closing the issue.

[2020-03-27 19:16] #10 closed

[2020-03-27 19:21] DianaTavares commented on #12
I like the solution of the flash sim, invisible walls at the left and right edge of the sim viewport, but the top is not necessary.

[2020-04-01 14:54] KatieWoe opened #14 "CT Error creating WebGL context"
[code]

[2020-04-01 20:11] jonathanolson commented on #14
Should be handled by the above commit.

[2020-04-02 14:46] KatieWoe commented on #14
Looks good, closing. Will reopen if it reappears

[2020-04-02 14:46] #14 closed

[2020-04-02 18:41] chrisklus commented on #13
From 4/2/20 dev meeting:

@samreid is going to take on unifying images, textures, phetioEngine, and brand with a time frame of about 2 weeks, and then pass it off to @jbphet to investigate the sound aspect.

[2020-04-02 22:11] samreid commented on #13
Density is working well, so we'll close this issue and continue in https://github.com/phetsims/joist/issues/621

[2020-04-02 22:12] #13 closed

[2020-04-22 17:41] jonathanolson commented on #12
Should be implemented in master.

[2020-04-22 17:57] jonathanolson commented on #7
I believe this bouncing issue should now be fixed in master. Can you see how the physics behaves?

[2020-04-22 18:27] DianaTavares commented on #7
it looks great! thanks!!

[2020-04-22 18:27] #7 closed

[2020-04-22 18:41] DianaTavares commented on #12
Nice!! I see two strange behaviors:
1) Users can lose the second block if the block is moved behind the panel. Probably we can solve this moving the wall in the first screen to the place where the panel is:
![lose block2](https://user-images.githubusercontent.com/26031501/80020383-8e943c00-849e-11ea-9c23-12699cbf54ac.gif)

2) if the user moves fast the block against the invisible wall, it jumps a

[2020-04-23 16:20] jonathanolson commented on #12
I believe I've been able to resolve both of those issues in master, can you check how it behaves?

[2020-04-29 22:50] arouinfar commented on #12
The behavior is looking good to me @jonathanolson.

[2020-04-30 16:20] DianaTavares commented on #12
The behavior is good for me too! I think this issue is complete!

[2020-04-30 16:20] #12 closed

[2020-04-30 16:30] jonathanolson commented on #11
This behavior should now be fixed in master.

[2020-04-30 17:23] jonathanolson opened #15 "NumberControl doesn't support enabled range handling with arrow buttons"

[2020-04-30 18:16] #15 closed

[2020-04-30 19:04] DianaTavares commented on #11
In this issues was discussed three different strange behaviors:
1) The mass goes to zero and the water disappears. That problem was solved correctly!!

2)Mass oscillations when the density is small. I played with different configurations and now the mass doesn't oscillate with small movements of the volume or mass. The only way that I get a lot of oscillation is with a fast change to the minimus m

[2020-05-06 20:59] jonathanolson commented on #11
For (2), I increased the viscosity effect for small masses, so things will reach equilibrium much faster.

For (3), I can't reproduce this at all in master. Can you pull on phettest and outline reproduction steps, or see if it's fixed?

For (4) I upped the internal engine "relaxation" for block-block forces to improve this effect.

How do these changes look?

[2020-05-06 21:26] DianaTavares commented on #11
It looks great!
I couldn't reproduce (3), Then I think it is fixed.
Thanks, @jonathanolson. For my side, I see the simulation with good performance and I don't find anything that needs to be fixed. Ready for the next step!!

[2020-05-06 21:26] #11 closed

[2020-05-08 14:37] kathy-phet opened #16 "Bug: Changing Mass doesn't change the volume of block"
Observed on screen 1, but could be other places. If I change the volume of a wood block, the volume changes, but if I use the mass slider, the block doesn't change size (visually). The volume slider changes, but the visual of the block isn't changing or updating.

[2020-05-08 17:37] jonathanolson commented on #16
I believe this was fixed by the above commit.

[2020-05-08 18:00] DianaTavares commented on #16
Yes it was! Thanks!!

[2020-05-08 18:00] #16 closed

[2020-05-19 15:57] kathy-phet opened #17 "Bug: Density of 1 kg/L block pops off the bottom"
The physics of the 1 kg/L block is not quite right. It should sit whereever you put it in the water, but right now, if you try to place it on or near the bottom of the pool, it repels the bottom when you let go and settles a little bit above the bottom. I'm not understanding what physics is leading to this behavior, but it should just sit on the bottom if it is placed there. If there is some upwar

[2020-05-19 18:53] jonathanolson commented on #17
I'm exploring solutions to this, essentially the physics engine allows a bit of "slop" where things can overlap slightly (so the block is being pushed INTO the ground, and when released experiences a repulsion force).

[2020-05-26 17:28] DianaTavares commented on #17
The behavior of the block and the walls of the pool is the same that the other blocks use to have with the "transparent walls" that restrict the block in the play area (issue #12):

You can see also the rebound of the blocks in all the walls of the pool with all the blocks, but with the block that have 1 kg/L density this behavior looks like "repulsion".
@jonathanolson, can the collision between t

[2020-05-26 18:44] DianaTavares opened #18 "Bug: the density readout for the blue block disappears when the density is 10"
the density readout for the blue block disappears when the density is 10 kg/L

9.9 kg/L is shown in the sim
![image](https://user-images.githubusercontent.com/26031501/82938050-d2bfa400-9f56-11ea-9c53-26e061bea14d.png)

But exactly 10 kg/L is not
![image](https://user-images.githubusercontent.com/26031501/82938098-e79c3780-9f56-11ea-8830-b13fcdfe3fd2.png)

[2020-05-27 16:47] DianaTavares opened #19 "Bug: crushing spliced blocks generates strange behavior"
When several blocks placed on the top of each other are crushed (a downward force is generated with the mouse), in some situations they have a very strange of overlapping and jumping (see the next gif):

![Untitled](https://user-images.githubusercontent.com/26031501/83047895-a6675e80-a00e-11ea-8dd5-819f7c0a2c83.gif)

 Not all the configurations of blocks placed on the top of others generate that b

[2020-05-27 17:14] DianaTavares opened #20 "Improve the appearance of the edges in the sim"
The edges of the blick and the pool walls aren't straight lines. Can the edges be improved?

![image](https://user-images.githubusercontent.com/26031501/83051129-2c85a400-a013-11ea-91f3-19f96f2514ef.png)

[2020-05-27 18:24] DianaTavares commented on #19
After playing more with the blocks, the strange overlapping /bumping behavior is related to the mass of the objects. More mass, more strange behavior.  The next picture show the overlapping of blocks with different mass with the ground when the block is pushed down with the mouse (yellow block has m=65.3 kg) :

![image](https://user-images.githubusercontent.com/26031501/83056260-b422e100-a01a-11ea

[2020-05-27 23:20] jonathanolson commented on #20
Possibly, can you provide the information in the Phet Menu from "Report a Problem..." popup?

This might be computer-specific, I'm specifying `antialias: true` to three.js, but that may not be handled on your browser.

For context, this is how things appear on my side (properly antialiased):

<img width="248" alt="Screen Shot 2020-05-27 at 5 18 06 PM" src="https://user-images.githubusercontent.com

[2020-05-28 15:41] DianaTavares commented on #20
It is not the first time that I get and computer-specific issue. I always use Chrome as a Browser. I already review Firefox and Safari on my computer and the edges in the sim look great.

Probably test it in some other MacBook on Chrome, and if the edges look good there, just close this issue. I ask @KatieWoe to review it!

Here is the "Report a Problem" information

**Test device**
MacBook Air (1

[2020-05-28 16:34] KatieWoe commented on #20
I checked a few platforms and did not see anything to the degree that @DianaTavares did myself. If I got really close and squinted, I could sometimes see unevenness or white spots, but nothing too obvious. Checked the prototype version on the website.
Side note: it doesn't load on IE.

[2020-05-29 17:19] DianaTavares commented on #20
Then it is a computer-specific issue. Thanks, @KatieWoe. Closing!!

[2020-05-29 17:19] #20 closed

[2020-05-29 17:38] KatieWoe commented on #20
I will keep an eye out for this when we get to more in depth testing (rc-tests etc.)

[2020-06-01 17:39] jonathanolson commented on #18
Should be fixed in master.

[2020-06-01 17:39] #18 closed

[2020-06-01 20:28] oliver-phet opened #21 "User suggestion: units, hide volume"

[2020-06-02 17:18] jonathanolson commented on #17
I believe I've finally figured out a good way to handle things like this, the behavior is looking much better to me in master. Can you verify?

[2020-06-02 17:19] jonathanolson commented on #19
I believe I've finally figured out a good way to handle things like this, the behavior is looking much better to me in master. Can you verify?

[2020-06-02 17:53] DianaTavares commented on #19
Yes, it looks better! The blocks still overlap, but less than the last time:

![Screen Shot 2020-06-02 at 12 50 22 PM (2)](https://user-images.githubusercontent.com/26031501/83552841-0149fb80-a4d0-11ea-827d-981fdb5a8a96.png)
![Screen Shot 2020-06-02 at 12 51 19 PM (2)](https://user-images.githubusercontent.com/26031501/83552845-0313bf00-a4d0-11ea-82e2-fd7e7306bf35.png)

[2020-06-02 17:58] DianaTavares commented on #17
It looks perfect to me!

[2020-06-02 17:58] #17 closed

[2020-06-02 18:29] jonathanolson commented on #19
I can't reproduce that locally. Can you try https://phet-dev.colorado.edu/html/density/1.0.0-dev.10/phet/density_en_phet.html (just deployed) and if it happens, give me reproduction steps?

[2020-06-02 18:49] DianaTavares commented on #19
In that link, I see the same behavior.
The steps are:
1) Activate the B block
2) Change the volume of the B block to V=10L
3) Change the A Block to Custom and modify it mass to 0.1 kg and in volume to 10L
4) Put A block in the ground outside the pool and the B block at the top of A block. That already shows a little overlap between A block and the ground:

![Screen Shot 2020-06-02 at 1 36 27 PM](h

[2020-06-02 18:50] jonathanolson commented on #19
It's likely not computer-specific, investigating.

[2020-06-02 20:58] jonathanolson commented on #19
The following code will reproduce when all screens are enabled:
[code]

[2020-06-02 21:29] jonathanolson commented on #19
For fine-tuning the physics, I thought it would be more helpful to expose the parameters that I currently have available as query parameters, so that a better balance could be found.

I've added the following query parameters:
[code]

The latest improvements were made by dropping the equivalent of p2MassScale from 1 to 0.1, but I'm having trouble finding the ideal combinations of these. @DianaTava

[2020-06-02 21:30] jonathanolson commented on #19
For instance, running with `?p2DynamicRelaxation=0.5` would adjust that parameter, and multiple ones can be combined like `?p2DynamicRelaxation=0.5&p2GroundRelaxation=100`

[2020-06-02 21:32] jonathanolson commented on #19
To help reproduce the existing case, typing the code in https://github.com/phetsims/density/issues/19#issuecomment-637802881 into the console should set it into that configuration. Optionally if you additionally pass the `screens=1` query parameter (it loads a bit faster), you would need to change the `[1]` on the first line to `[0]`. That helped for speeding up testing for me.

If you need any as

[2020-06-02 21:33] jonathanolson opened #22 "Do we want to display the (temporary) viscous forces in the force diagram?"
I'm assuming not, but I had a TODO marked to ask to make sure.

[2020-06-02 22:02] DianaTavares commented on #19
I understand that the actions that I need to do are: going to the PhET test and play with the Query parameter in https://github.com/phetsims/density/issues/19#issuecomment-637817008 modifying the values until I get more appropriate physics behavior in the simulation. right?

But there are 16 different Query parameters, and they can be combined. Also, I am not sure what is the range of each paramet

[2020-06-03 16:43] DianaTavares commented on #22
No. Only the forces: gravity, contact, and buoyancy need to be displayed in the Buoyancy sim.

[2020-06-03 16:43] #22 closed

[2020-06-03 18:13] jonathanolson opened #23 "Density Polishing"
I'm curious about what should be polished for Density. I recall preferences being to remove more of the dynamic reflections (but potentially still leave some, e.g. especially for ice). Switching to one environment map could also save performance.

So in general, I'd like to know about what minor changes should be done (any general physics-like behavior comments should go in https://github.com/phet

[2020-06-03 18:59] arouinfar commented on #23
@jonathanolson I think the blocks and scale are too reflective. Cutting down on the dynamic reflections would look nice, and I would even tone it down for ice too.
![image](https://user-images.githubusercontent.com/8419308/83677781-e479fa80-a599-11ea-8302-4165ed01df6a.png)

[2020-06-04 21:53] DianaTavares commented on #23
I agree with @arouinfar comments.

[2020-06-04 22:12] DianaTavares commented on #19
I have been playing a lot with the Query parameters an I don't have a solution yet.
I am just summarizing some of my reflections:

I already try all the variables and none of them improve this behavior: A little overlapping between the ground and the 0.10kg block when the aluminum block is placed in the top
![image](https://user-images.githubusercontent.com/26031501/83814831-a7d6fd80-a684-11ea-999

[2020-06-08 21:09] liam-mulhall opened #24 "Adjusting mass can bounce blocks"
**Test Device**

MacBook Air

**Operating System**

macOS 10.15.4

**Browser**

Google Chrome 83.0.4103.97

**Problem Description**

For https://github.com/phetsims/QA/issues/507. Probably related to https://github.com/phetsims/density/issues/19. If you quickly adjust the mass of a block, it can bounce. I find this fun, but it's probably not the desired behavior.

**Visuals**

![issue](https://use

[2020-06-08 21:56] muedli opened #25 "Should a new set be generated each time you switch to random?"
For https://github.com/phetsims/QA/issues/507.

Suppose you're playing with a set of random blocks in the mystery screen. Then you decide to switch to set 3. When you're done with set 3, you want to go back to your set of random blocks. Unfortunately, the set of random blocks you were playing with earlier is gone because a new set is generated each time you switch the radio button to the random se

[2020-06-08 22:10] DianaTavares commented on #25
You are right, it shouldn't. I also think that save the state of the scenes can be useful in the mystery screen. I have been playing with the different sets and it's uncomfortable that I placed the blocks in a specific configuration, and when I change to another set, the position of the blocks is lost.
@jonathanolson  and @ariel-phet
Does it take a lot of work to allow the simulation not to change

[2020-06-09 18:43] DianaTavares commented on #19
the query parameter that helps to improve this behavior was p2FrictionIterations. The default value was 10. I changed several times with an acceptable result when the value is 3500

http://phettest.colorado.edu/density/density_en.html?ea&brand=phet&p2FrictionIterations=3500

The next gif is with the last link. As you can see, when the heaviest blocks are on top of the lightest blocks, and with the

[2020-06-09 21:53] ariel-phet commented on #25
@DianaTavares @muedli

Agreed, especially since there is a "generate new random set" button, the random set should remain constant until that button is pressed. Changing sets should not affect the random set of blocks chosen.

[2020-06-11 13:57] samreid opened #26 "Dragging a block quickly past a barrier can cause oscillation"
When dragging a block quickly past the bottom or side of the pool, it can cause oscillation.  Stacking other blocks on top can create a distracting animation:

![reduced](https://user-images.githubusercontent.com/679486/84393646-118d6500-abb9-11ea-831e-34d2886d1eda.gif)

[2020-06-11 16:04] samreid opened #27 "In “Mystery” screen, 1C and 1D look the same size, but one is 3.37L and one is 3.38L"
In “Mystery” screen,  1C and 1D look the same size, but one is 3.37L and one is 3.38L, is that by design?

[2020-06-11 16:05] samreid opened #28 "In “Mystery” screen, 1A has density of 3.53 but diamond reports as 3.51 in the table"
In “Mystery” screen, 1A has density of 3.53 but diamond reports as 3.51, is that by design?

[2020-06-15 17:13] jonathanolson commented on #28
That is correct according to the design in https://github.com/phetsims/density/issues/6. @DianaTavares should anything be tweaked here?

[2020-06-15 17:15] jonathanolson commented on #27
Looks like it may be a rounding issue, the design has them at 3.38L both (https://github.com/phetsims/density/issues/6). Looking into it.

[2020-06-15 17:22] DianaTavares commented on #28
My mistake, sorry. The mass of that block should be 3.51 kg, in order to have the right density. @jonathanolson, please modify the mass of 1A block.

[2020-06-15 17:34] jonathanolson commented on #27
@DianaTavares, the numbers in https://github.com/phetsims/density/issues/6 experience a lot of rounding (since the actual 3 provided values of mass/volume/density in https://github.com/phetsims/density/issues/6 don't precisely match, but are approximate).

Currently 1x now uses density/volume (computing mass, to fix the above mismatch), while the other two use density/mass (computing volume). Let

[2020-06-15 17:38] jonathanolson commented on #28
Implemented above. If there are other blocks that should have the same density as a reference, can you let me know so I can reference it in the code?

[2020-06-15 19:07] DianaTavares commented on #27
Set 1 used the same values that the flash sim and some of the density values in the table were updated: gasoline (from 0.7 in flash to 0.68 in the HTML5) and diamond (from 0.53 in flash to 3.51 in the HTML5), Then blocks 1B and 1E need to be modified as well.

Each set of mystery blocks has 2 blocks with the same mass, 2 blocks with the same volume, and 2 with the same density. 1B and 1E have the

[2020-06-15 19:10] DianaTavares commented on #28
I already review all the values and the values of the blocks that have an issue are reported in #27

[2020-06-15 19:10] #28 closed

[2020-06-15 19:49] loganbraywork opened #29 "IE failure to load"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Internet Explorer v.11.900.18362.0

**Problem description**

For https://github.com/phetsims/QA/issues/507

IE fails to load entirely. Since IE is no longer a supported browser, assigning ariel to decide the fate of this issue. I will note that the sim claims that WebGL is not available or enabled, but IE 11

[2020-06-15 21:00] jonathanolson commented on #25
Implemented above, can you verify it works as expected/desired?

[2020-06-15 21:07] jonathanolson commented on #27
Implemented those changes. The following code below is used to generate the masses:
[code]

(everything in SI units).

Anything else to do here?

[2020-06-15 21:13] loganbraywork opened #30 "Block 1D in Mystery Screen set 1 seems to have different collision than other blocks"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Chrome Version 83.0.4103.97

**Problem description**

For https://github.com/phetsims/QA/issues/507

Wasn't sure if this issue was addressed in https://github.com/phetsims/density/issues/19. If so feel free to close.

Block 1D in the Mystery Screen, Set 1, seems to have different collision properties than an

[2020-06-15 22:11] DianaTavares commented on #25
It works perfectly! Thanks

[2020-06-15 22:11] #25 closed

[2020-06-15 22:17] DianaTavares commented on #27
Set1 now is perfect! but 2E needs to be updated.

[2020-06-16 01:16] ariel-phet commented on #29
@jonathanolson I am OK with not fixing this issue, however we will need to have a message in the sim when it is published that detects IE11 and shows a message.

Tagging for work to be done in https://github.com/phetsims/chipper/issues/954

[2020-06-16 22:50] JRomero0613 opened #31 "No Credits"
For https://github.com/phetsims/QA/issues/507 there are no credits when you open the options menu. There is a credits title but as you can see from the screenshot below there are no credits at all. Everything else in the options menu seems to be fine. I'm not sure if this is the right tag for things like this so let me know if there is a more appropriate tag for similar issues in the future.
![Den

[2020-06-17 18:09] KatieWoe commented on #19
Spliced blocks still occurring in https://github.com/phetsims/QA/issues/507
![overlappingblocks](https://user-images.githubusercontent.com/41024075/84933640-705c4e00-b093-11ea-826f-391c2cf1697a.gif)

[2020-06-17 18:15] KatieWoe opened #32 "Sim seems to take a lot of power/memory leak"
For https://github.com/phetsims/QA/issues/507.
After opening the sim for about a minute, the fan on my computer started running very loudly. I hadn't started much yet, but the device was still seeming to struggle to keep up. Haven't seen this to this extent in other sims, so I think it is a density issue. I'll post a memory test here as well. @jonathanolson if there is another measure that would b

[2020-06-17 18:25] KatieWoe commented on #32
After about two minutes of fuzzing the sim seems to crash, reload, and says that WebGL is not Available.
![crash](https://user-images.githubusercontent.com/41024075/84935195-997dde00-b095-11ea-8410-7c8fb0b63ff3.png)

[2020-06-17 18:47] KatieWoe opened #33 "Oddly bouncing block"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/507
When adjusting the density of a block, it may shoot up into the air, off the screen, and come down to bounce on the water in a way that looks very odd/buggy.
**Steps to reproduce**
1. Go to the first screen
2. Set the material to custom
3. Make the block heavy,

[2020-06-17 21:18] loganbraywork opened #34 "Long strings cause control panel crowding in Intro screen"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v.1903

**Browser**

Chrome Version 83.0.4103.106 (Official Build) (64-bit)

**Problem description**

For https://github.com/phetsims/QA/issues/507

It seems that long strings cause significant crowding around the control panel in the Intro screen. The long string also shrinks the thumbs. The issue does not seem to appear in othe

[2020-06-17 22:55] loganbraywork opened #35 "Larger block labels do not change color when in water as smaller block labels do"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Firefox 77.0.1

**Problem description**

For https://github.com/phetsims/QA/issues/507

Larger block labels do not seem to gain the same water shading effect that smaller blocks do, even when the label is at the same relative height to smaller blocks. There also appears to be some inconsistency in shading be

[2020-06-18 16:07] jonathanolson commented on #27
Apologies, didn't see the density change for 2E! I believe that's everything now.

[2020-06-25 15:12] jonathanolson commented on #34
@ariel-phet what should the desired behavior here be? Currently NumberControl has the ArrowButton height hard-coded to match the height of the NumberDisplay.

[2020-07-02 02:35] ariel-phet commented on #34
@jonathanolson - I think what is causing the issue here is that NumberDisplay is changing height, which just seems wrong to me. When I look at `?stringTest=Double` things start to get a bit funky.

![density](https://user-images.githubusercontent.com/4051174/86307495-21a2ce00-bbd4-11ea-9b55-aebe6b9e740a.PNG)

It seems to me that in these case the NumberDisplay should have some option where the str

[2020-07-02 18:45] KatieWoe opened #36 "Performance: Lag when dragging/moving blocks"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/507.
There seems to be a fairly large amount of lag while a block is moving for a normally high performing platform (Windows 10 + Chrome). The lag seems to show up especially strongly when multiple blocks are moving. To see this, you need to stack blocks and start d

[2020-07-02 19:40] KatieWoe opened #37 "Less bounce on blocks in water"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/507. More of a sim suggestion than a bug.
When a block is dropped on to the water, it bobs up and down. It can do this for a fair amount of time. I am wondering if it would be a good idea for it to settle faster, or if that would look wrong.

**Visuals**
![dampenbou

[2020-07-02 20:43] KatieWoe opened #38 "Odd shading behavior on wood, aluminum, and ice"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/507
When moving the wood and aluminum blocks up and down, the shading on the sides behaves oddly. Going in and out of the pool changes the top of the block, and going above the horizon changes the side. The ice block also seems to have some odd shading, but the tran

[2020-07-07 17:29] muedli commented on #35
@loganbraywork, it looks like there are some trailing artifacts from the blocks. For example, when you move block 2C up and back down, there's a horizontal green line left behind. Does this happen on your computer or is it a result of recording the gif?

[2020-07-07 20:05] loganbraywork commented on #35
This is a result of the recording itself, does not naturally appear on my computer

[2020-07-07 21:11] muedli opened #39 "Pushing block against wall can force it underground, make it unusable"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.5

<b>Browser</b>

Chrome 83.0.4103.106, Safari 13.1.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/507. Similar to https://github.com/phetsims/density/issues/19. If you push low mass, high volume block up against a wall, it can be forced underground and made unusable.

<b>Steps to Reproduce</b>

1. Int

[2020-07-07 21:38] muedli commented on #39
I just noticed that the sim thinks the block is in the water.

![issue](https://user-images.githubusercontent.com/60749003/86845997-84c6b180-c067-11ea-9fe2-167ca1267d6f.png)

[2020-07-08 23:03] KatieWoe commented on #19
This also seems to have an odd effect on the scale and how much mass it reads if this is done on top of the scale.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/41024075/86978710-bfe6e480-c13c-11ea-9540-2b58878f3610.gif)

[2020-07-09 17:58] zepumph commented on #29
https://github.com/phetsims/chipper/issues/954 is implemented and no longer blocking. Not sure how that applies to this issue.

[2020-07-09 18:45] zepumph commented on #29
From dev meeting today, @ariel-phet wants someone to build this sim, test that the IE message works on IE, and then this can unblock. I volunteered!

[2020-07-09 21:33] DianaTavares commented on #37
Past versions of the sim used to bounce a lot more. when @jonathanolson shows these bobs up and down in a previous design meeting, @arouinfar  and I look it as an improvement. I think that the movement is acceptable. What do you think @arouinfar?  @jonathanolson, is easy to reduce the bounce?

[2020-07-09 21:38] DianaTavares commented on #35
In the design meeting today we discuss putting the labels of all the blocks in front of the water. This apply for the blocks in the intro and mystery screen.

![image](https://user-images.githubusercontent.com/26031501/87093317-9f815d80-c202-11ea-9cde-2192f5ac3581.png)

[2020-07-09 21:49] DianaTavares commented on #33
I think that it is a normal buoyancy force pushing out of the water an object with a huge volume and low weight. The same happens when you try to force the block going down into the water:

![Density](https://user-images.githubusercontent.com/26031501/87094133-ffc4cf00-c203-11ea-8e2c-62d257d053f9.gif)

I don't think that it is a bug. @arouinfar, what do you think?

[2020-07-09 21:54] DianaTavares commented on #30
This is generated by the same issue that #19. I am going to close this issue for not to duplicate.

[2020-07-09 21:54] #30 closed

[2020-07-09 21:59] DianaTavares commented on #21
I think that the units in the sim are good. And students can use laboratory activities to transform between units.

that is the goal of the mystery screen.

[2020-07-10 00:00] zepumph commented on #29
I build density out of master, and ran it in IE with a link like http://localhost:8080/density/build/phet/density_en_phet.html. Here is the screenshot:

![image](https://user-images.githubusercontent.com/6856943/87102073-3814df00-c1fd-11ea-83a9-239cfb347f02.png)

It loaded successfully on Chrome. Over to @ariel-phet.

[2020-07-13 16:03] ariel-phet commented on #29
Looks good, closing

[2020-07-13 16:03] #29 closed

[2020-07-15 16:44] DianaTavares opened #40 "modify the values of the mystery blocks to have integer numbers in one of the variables"
In the last design meeting, @kathy-phet suggested modifying the values of the mystery blocks for having integer numbers in one of their variables. Only SET 1 has this issue (the other two sets already has one of the variables with an integer value).

The mystery sets have two blocks with the same mass, two with the same density and two with the same volume (this configuration makes that only one b

[2020-07-15 19:27] DianaTavares opened #41 "create a new dev version"
For Density: Create a new dev version that includes the changes suggested in issue #40, min mass for the custom block of 0.5 kg in the Intro screen, and the query parameters of this link:

http://phettest.colorado.edu/density/density_en.html?ea&brand=phet&p2PointerMassForce=0&p2PointerBaseForce=2500&p2FrictionIterations=500

for Buoyancy:
http://phettest.colorado.edu/buoyancy/buoyancy_en.html?ea&b

[2020-07-15 19:52] DianaTavares opened #42 "The labels of small blocks overlap with blocks next to them"
**Test device**
MacBook

**Operating System**
macOS Mojave version 10.14.6

**Browser**
Chrome

**Problem description**
When a block is placed to the left of a smaller block, the label of the smaller block overlaps a little bit with the bigger block.

**Steps to reproduce**
1.- place a  small block to the right in the ground
2.- move a bigger block close to the small block

**Visuals**
![image](ht

[2020-07-16 05:27] arouinfar commented on #34
I've generally ignored the the appearance of the NumberDisplay when using a `stringTest` so long as the layout doesn't break for `long` and the text is readable for `double`. Realistically, the string in the NumberDisplay will not change. Worst case the abbreviated unit may pick up an additional character, and I'm not sure that will be enough of a change to result in smaller tweaker buttons.

Here

[2020-07-16 05:36] arouinfar commented on #33
@DianaTavares I would agree that it's not a bug, but just an extreme density/buoyant force.

[2020-07-16 05:36] #33 closed

[2020-07-16 05:46] arouinfar commented on #37
@DianaTavares I do think the bounce is better than it used to be. It can take some time for the volume to equilibrate if a block is dropped from a large height, but it happens fairly quickly if released closer to the water. You might be able to increase the damping a bit more, but I don't think it's necessary.

[2020-07-16 15:30] jonathanolson commented on #41
Dev version available at https://phet-dev.colorado.edu/html/density/1.0.0-dev.12/phet/density_en_phet.html

[2020-07-16 19:29] #41 closed

[2020-07-16 21:01] DianaTavares commented on #37
@jonathanolson is going to play with the viscosity values to get less bounce. The effect of this is stronger when the block in the bottom has a very small density

[2020-07-16 21:13] DianaTavares opened #43 "fast test for the new density dev version in low performance platforms"
We have a new dev version of the Density sim:
https://phet-dev.colorado.edu/html/density/1.0.0-dev.12/phet/density_en_phet.html

We are worried that it can be slow for some platforms. Please test it and review that:

- The sim doesn't get slow
- The sim doesn't take a lot of power/memory (issue #32)
- When you put one more massive block over another lighter, they don't overlap (issue #19), or go t

[2020-07-16 23:02] KatieWoe commented on #43
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Win 10 Edge
- [ ] Mac 10.12 Safari
- [ ] Mac 10.15 Safari
- [ ] ChromeOS
- [ ] iPadOS 13 Safari

[2020-07-16 23:02] KatieWoe commented on #43
Is the above an acceptable range of testing @DianaTavares

[2020-07-16 23:25] KatieWoe commented on #43
Memory leak seems a bit better, but still there. The page crashed after 6 minutes, but it went dark so I only captured these results:
![stillbig](https://user-images.githubusercontent.com/41024075/87732138-5e9cc200-c789-11ea-934d-6af921c26b3b.png)

[2020-07-16 23:26] KatieWoe commented on #43
It was getting up to 400MB

[2020-07-17 15:55] DianaTavares commented on #43
Yes, thanks!!

[2020-07-17 16:24] KatieWoe commented on #43
I redid the memory test to get the later numbers.
Start: 25.6 MB
1 min: 117 MB
2 min: 183 MB
3 min: 239 MB
4 min: 310 MB
5 min: 368 MB
6 min: 429 MB and dev tools crashed right after

[2020-07-23 15:18] jonathanolson commented on #35
I believe all of the cube labels should appear with no water effect now, can you verify in master?

[2020-07-23 15:19] jonathanolson commented on #42
Is this still a problem with the newer parameters? I can't seem to reproduce it.

[2020-07-23 15:25] jonathanolson commented on #40
Implemented, however with D being smaller in volume than C, the order seems a bit off:

<img width="674" alt="Screen Shot 2020-07-23 at 9 24 02 AM" src="https://user-images.githubusercontent.com/480878/88305111-592e0300-ccc6-11ea-89e3-5915167bbf07.png">

Is it ok to have the D block above the C block, or should they be reversed?

[2020-07-23 15:26] jonathanolson commented on #38
The water-interaction should be changed now, although some reflectivity of the horizon is still visible on the side. @DianaTavares is there anything that should be changed for the current behavior?

[2020-07-23 15:32] jonathanolson commented on #37
I've adjusted the minimum viscosity effect (primarily for low-mass objects). Can you take it for a test drive to see how it works?

[2020-07-23 15:36] jonathanolson commented on #39
With the new physics tweaks, I'm unable to reproduce this on master. @DianaTavares, can you verify?

[2020-07-23 16:23] DianaTavares commented on #39
Yes, I can't reproduce it. Closing!

[2020-07-23 16:23] #39 closed

[2020-07-23 16:26] DianaTavares commented on #37
I think it is good! that buoyancy I think is normal and acceptable for the sim.

[2020-07-23 16:26] #37 closed

[2020-07-23 16:35] DianaTavares commented on #40
Nide, thank you, Jonathan! in that case just to change the labels. Yellow block with the 1C label, and red block 1D

[2020-07-23 16:44] DianaTavares commented on #38
I think that the behavior is ok! I see the reflectivity on the horizon when the block is going up to the top of the sim, but I am just thinking in @ariel-phet  comment "just normal interaction with the sim". Then I think that the improvements are enough.

[2020-07-23 16:44] #38 closed

[2020-07-23 16:45] jonathanolson commented on #40
I pushed the label fix, AND hit the pull button for density-buoyancy-common on phettest. Can you see if that solved (both) problems?

[2020-07-23 16:53] DianaTavares commented on #40
It is solved, thanks!

[2020-07-23 16:53] #40 closed

[2020-07-23 16:56] DianaTavares commented on #42
I still see them:
![image](https://user-images.githubusercontent.com/26031501/88314933-4245db80-ccdb-11ea-9f04-fb3a0f8a51cc.png)

@KatieWoe, can you review if this happen in other computers? it is not the first time that I have and specific computer issue.

[2020-07-23 17:00] DianaTavares commented on #35
Yes, this is fix!!

[2020-07-23 17:00] #35 closed

[2020-07-23 17:01] KatieWoe commented on #42
I could also reproduce with Win 10 Chrome on master.

[2020-07-23 17:52] jonathanolson commented on #42
Thanks! Looking into it.

[2020-07-28 02:44] jonathanolson commented on #23
@arouinfar and @DianaTavares, is there anything left to be done with the current master here?

[2020-07-28 03:40] arouinfar commented on #23
Master is looking good to me @jonathanolson.

[2020-07-28 13:47] DianaTavares commented on #23
Also for me, it looks good. Thanks @jonathanolson

[2020-07-28 13:47] #23 closed

[2020-07-30 15:26] jonathanolson commented on #36
I'm curious if this is still happening (or worse) due to getting rid of reflection computation cost but also adding friction iterations. Can you test https://phet-dev.colorado.edu/html/density/1.0.0-dev.13/phet/density_en_phet.html?

I'm unable to reproduce this on latest Chrome on Win10 or Mac.

[2020-07-30 15:30] jonathanolson commented on #42
The core of this issue is the desire to (a) have the block labels appear as if they're in front of the water, (b) have the blocks appear behind water and (c) have a block label from one block appear behind another block. This is essentially a rock-paper-scissors configuration that's somewhat tricky to resolve in general, I'm close to having a resolution.

[2020-07-30 15:45] jonathanolson commented on #26
It looks like this issue should be resolved with the new physics parameters. I'm not able to reproduce this anymore in master, can you verify?

[2020-07-30 16:06] samreid commented on #26
I pulled master and disabled cache, and I am seeing this behavior:

![Kapture 2020-07-30 at 10 06 04](https://user-images.githubusercontent.com/679486/88946327-5befa180-d24c-11ea-897b-5ba1e3556ad0.gif)

[2020-07-30 16:41] jonathanolson commented on #26
Thanks, investigating!

[2020-07-30 18:12] KatieWoe commented on #36
I am still seeing a bit of lag, though it seems better than it was before. I also noticed that my computer was running slow and while it was, the lag on moving blocks was particularly bad. I restarted my computer, which improved things, but some lag was still seen. Win 10 Chrome.

[2020-08-04 22:07] jonathanolson commented on #32
I've fixed a large number of things related to this. @KatieWoe would you be able to verify that master is doing acceptably? (I'm checking into what may be an incredibly slow memory leak, but I'll need to wait a number of hours of fuzzing before easily being able to isolate it).

[2020-08-04 22:32] KatieWoe commented on #32
Memory test seems much better. Fan was running but not nearly as hard. I did notice that the fuzz test paused at times, which seemed a bit odd, but not necessarily a problem.
Memory test on master, 8/4/2020:
![looksbetter](https://user-images.githubusercontent.com/41024075/89351820-03673c80-d670-11ea-862d-73aa785bf122.png)

[2020-08-04 23:01] jonathanolson commented on #36
https://phet-dev.colorado.edu/html/density/1.0.0-dev.14/phet/density_en_phet.html should have a lot of work done for memory leaks, which may help. I'm also curious about https://phet-dev.colorado.edu/html/density/1.0.0-dev.14/phet/density_en_phet.html?p2FrictionIterations=10, which should reduce the friction iterations.

It appears the large majority of CPU time is spent in the physics solve.

@Ka

[2020-08-05 00:32] jonathanolson commented on #34
I believe the above commits should handle that correctly (and provides an option to do that for future code). Can you verify the appearance?

[2020-08-06 15:12] jonathanolson commented on #42
I believe the above commits should finally handle this, can you verify?

[2020-08-06 15:44] jonathanolson commented on #24
@DianaTavares what is the ideal desired behavior here?

[2020-08-06 15:45] jonathanolson commented on #24
Also, if the block shifts in size, it seems like it WOULD need to quickly shift the center-of-mass upward, which would give it upward velocity.

[2020-08-06 16:04] DianaTavares commented on #42
It is working amazingly! thanks!!

[2020-08-06 16:04] #42 closed

[2020-08-06 16:49] DianaTavares commented on #24
I think that the behavior show be similar to the Flash version (not big jumps upwards)
![Densiy](https://user-images.githubusercontent.com/26031501/89557484-81465780-d7d8-11ea-8d56-13166cabb346.gif)

I understand that small jumps up when the block grows, or little falling down when a big block change to a smaller size can be perceived in the sim. But no like the one shown in the @muedli gif, becau

[2020-08-06 16:51] DianaTavares commented on #24
If the problem is a force generated by the ground because the block pushes down when it grows up, then probably fixing #19 solves the problem.

If the problem is the fast movement of the center of mass, how can it b solve?

[2020-08-07 23:01] KatieWoe commented on #36
Win 10 Chrome. Both links were better than before. Both had a bit of lag still, but it was noticeably better. The second link was the better of the two lag wise.

[2020-08-20 22:19] KatieWoe opened #44 "A graphical error occured"
For https://github.com/phetsims/QA/issues/507.
I was opening a new tab to check the sim in master, and as I did both the dev version and the master version seemed to have a graphical error. In the dev version, objects disappeared and an error popped up. Bellow is the error and the console read-out.
![grapherrorconsole](https://user-images.githubusercontent.com/41024075/90831410-dddd6280-e300-11ea-

[2020-08-20 22:24] KatieWoe commented on #44
The page crashes, goes black, and reloads without graphics after about 3 minutes of fuzz testing.
![thrreminutefuzz](https://user-images.githubusercontent.com/41024075/90831761-ade28f00-e301-11ea-8b2f-28ecb07d9796.png)

[2020-08-20 22:38] phet-steele commented on #44
@KatieWoe requested that I reproduce, and here are my results:

Took me 5 sim tabs before I lost WebGL context in the oldest sim, which is more or less expected to me. (Win 10 Chrome)

[2020-08-20 22:44] loganbraywork opened #45 "Blocks switch spots"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

1903

<b>Browser</b>

Version 84.0.4147.135

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/507. Appears in the current master version of the sim as well.

When on the Compare screen, and blocks are set to the same density, it is possible to swap the positions of blocks by pressing them into each other.

<b>Step

[2020-08-20 22:48] KatieWoe commented on #44
Also noting that when I opened multiple tabs of the dev version in the regular browser (3) I wasn't getting this like I was with one dev in regular and one master copy in incognito.

[2020-08-20 23:16] loganbraywork commented on #44
I also had a graphical error once while testing an issue while master and the dev version were both open. I haven't been able to reproduce it again, but only the two sims were open. I remember it occurred while I had opened ScreenToGif to record the screen, so I had assumed it was resultant of that.

[2020-08-21 16:10] KatieWoe opened #46 "Sliders do not behave consistently"
**Device**
iPad 6th Gen
**OS**
iPadOS 13.6.1
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/507.
On the first screen, you can control the mass and the volume. Since, for most of the material options, the density is set, changing on variable simultaneously changes the other. In some instances, what can be reached by manipulating the thumb on a slider, what can

[2020-08-21 18:54] KatieWoe opened #47 "Possible to both grab block and change it with slider with one finger"
Device
iPad 6th Gen
OS
iPadOS 13.6.1
Browser
Safari
Problem Description
For https://github.com/phetsims/QA/issues/507
When dragging a block in the first screen with touch, if your finger passes over the thumb of a slider, it will snag and pick it up. Both will be changed with the one finger.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/41024075/90924795-56016200-e3ad-11ea-9

[2020-08-21 20:19] liam-mulhall opened #48 "When trying to submerge block, it gets caught on the edges of the pool"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.5

<b>Browser</b>

Firefox 79.0

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/507. When trying to submerge a block when flush against one of the edges of the pool, it'll get "caught" on the edge of the pool. See gif below. You can't fully submerge the block if it's flush against one of the edges of the p

[2020-08-24 22:15] phet-steele opened #49 "Tweakers do not appear disabled even when its value is at minimum"
1. Head into the Intro screen.
2. Adjust the volume slider by using the thumb, and drag the thumb to its min.

The mass slider will also move to its min, but you will notice the decrementing tweaker is still enabled:

![image](https://user-images.githubusercontent.com/5863899/91101028-7fc3be80-e623-11ea-8a48-7ac4aa2dab94.png)

It can be clicked, but does nothing. Two things to note:

- This happen

[2020-08-25 20:10] KatieWoe commented on #46
With the Styrofoam example, if it gets to its minimum mass by changing volume, the spinner button for decreasing the mass still looks enabled. Pressing it disables it. Visual bellow.
![boldedarrow](https://user-images.githubusercontent.com/41024075/91222632-b27dbd80-e6dc-11ea-91d3-8d9dba8df05d.gif)

[2020-08-26 21:27] phet-steele commented on #46
https://github.com/phetsims/density/issues/46#issuecomment-680244586 was reported as #49

[2020-09-03 23:30] jessegreenberg opened #50 "Zoom feature does not work for 3D portion of the sim"
Noticed that the zoom feature only works on the 2D UI. Disabling zoom in this sim until this can be resolved.

[2020-09-09 22:27] jessegreenberg commented on #50
From https://github.com/phetsims/joist/issues/659.

[2020-09-15 02:08] ariel-phet commented on #50
@jonathanolson this would be a desirable sim to have zoom available in when published if easy to work around adjusting the webgl/shader code. If that is a difficult task, let's discuss.

[2020-09-15 23:14] arouinfar commented on #34
@jonathanolson  the layout is looking good on master.

| Default | `stringTest=double` | `stringTest=long` |
| --- | --- |--- |
| ![image](https://user-images.githubusercontent.com/8419308/93274083-b7cba680-f776-11ea-838c-579ea704ff23.png) | ![image](https://user-images.githubusercontent.com/8419308/93274119-cfa32a80-f776-11ea-88ca-4ec6645f71ac.png) | ![image](https://user-images.githubusercontent

[2020-09-15 23:14] #34 closed

[2020-09-22 02:16] ariel-phet commented on #43
This issue is stale, once physics engine issues are resolved we will look into performance again as we move towards publication. Closing.

[2020-09-22 02:16] #43 closed

[2020-09-28 22:12] DianaTavares opened #51 "update the prototype version of the Density sim to fix the errors in the mystery blocks values"
In #40 some of the mystery values changed, but these modifications are not in the prototype on the website. Can a new prototype version be submitted on the website?  The version on the website has the issue that some of the mystery densities in set 1 don't match with the values in the Density Table.

#40 is only about the values of the set 1, but reviewing all the density values of the other sets,

[2020-10-06 21:31] oliver-phet opened #52 "Republish Density prototype"
It would be nice to republish Density with the new prototype build process so that the prototype link is added to the sim page!

[2020-10-26 18:45] brooklynlash opened #53 "Blocks can get partially stuck inside the side and lower walls while submerged"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome, Edge, Firefox

**Problem description**
When dragging a block quickly to the side, it gets stuck in the walls as if it is about to bounce around and goes back and forth.
This works for all three sections and was also replicated on master.
**Steps to reproduce**
1. Open one of the sections of the sim (I used Intro

[2020-10-26 18:50] brooklynlash commented on #53
Can also get a block stuck in another for a second before returning to normal

[2020-10-27 16:06] brooklynlash opened #54 "Blocks can get stuck behind the scale in the "Mystery" section"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
If you vigorously move blocks up and down by the scale, the blocks can either get stuck in the ground and are ungrabbable (dev version) or stuck behind the scale and take a really long time to get unstuck (master). In the dev version sometimes I can get multiple blocks to get stuck togethe

[2020-11-02 20:39] oliver-phet commented on #21
Just documenting another email:

[2020-12-09 00:08] oliver-phet opened #55 "HTML5 table values don't match Java"
I've had 2 users write in to phethelp about this and one of the emails was forwarded to @DianaTavares but I thought it should be captured in an issue.

Java:
![image](https://user-images.githubusercontent.com/5090275/101556304-cb526c00-3977-11eb-9e72-171d867c1179.png)

HTML5:
![image](https://user-images.githubusercontent.com/5090275/101556322-cee5f300-3977-11eb-814d-edf54c8629b1.png)

[2020-12-10 16:35] DianaTavares commented on #55
the mistakes with the values of the blocks were already modified in the master sim, but the prototype has not been updated. #51 is about that. I will close this issue, and I will remind @jonathanolson about update the prototype version.
thanks!!

[2020-12-10 16:35] #55 closed

[2020-12-10 16:38] DianaTavares commented on #51
Another user sentt an email about the troubles with the wrong values in the prototype version of the sim (#55) the simulation in the phet-test has all this troubles fixed. Can a new prototype version of the sim be submitted?
Thanks!

[2021-01-06 21:14] jonathanolson commented on #24
This can be both a problem for a standalone block, but also a block that is on other blocks. Additionally, it could happen presumably for blocks UNDER other blocks that are floating (so it's not just a hop up).

So I'm really curious what the desired changes should be, as this seems to be a realistic physical feature. How should this be re-thought of? I don't really want to zero-out the velocity o

[2021-01-06 21:21] jonathanolson commented on #45
@ariel-phet, I'm curious what the severity of this is? It looks like due to the slop in the physics engine and overlap related to https://github.com/phetsims/density/issues/19, this can happen. If that gets handled, this should be resolved.

[2021-01-06 22:12] jonathanolson commented on #46
I believe this is fixed, except for the ice case. It seems like our choice to limit the mass slider/buttons to X.X0 won't let it get to the minimum styrofoam value (0.15). Thoughts on how to proceed?

[2021-01-06 22:19] jonathanolson commented on #47
I believe this has been fixed by the above commit in master, can you verify?

[2021-01-06 22:28] jonathanolson commented on #49
I believe this was handled in https://github.com/phetsims/density/issues/46, can you verify?

[2021-01-06 23:16] KatieWoe commented on #47
Looks good on master

[2021-01-07 17:22] jonathanolson commented on #47
Thanks!

[2021-01-07 17:22] #47 closed

[2021-01-12 17:55] DianaTavares commented on #46
Now I see that when one of the sliders goes to the stream values, both buttons (volume and mass) get inactive with a gray color. But when I change from one material to another one in the minimum value, the mass button is active, but the value is minimum, then it is not another value smaller.

![Density.gif](https://images.zenhubusercontent.com/5fc925cacd9489e51df9c54d/d8816729-5606-44aa-a105-b5c82

[2021-01-12 18:19] DianaTavares commented on #24
I find this behavior a distraction.  As @muedli said in the beginning "I find this fun", and I don't would like students to get distracted by this movement that is not related to density. Also, I find it even more strange when denser objects are under the water.
![density 3.gif](https://images.zenhubusercontent.com/5fc925cacd9489e51df9c54d/66af98a5-da1d-4b09-8b93-02041ea013c1)

I like a behavior s

[2021-01-15 00:39] ariel-phet commented on #45
@jonathanolson -- this issue is not severe at all. What is being done in the example is not a pedagogically valuable use case at all. If #19 fixes this case, great, if not, this issue can be marked as `wontfix` in my opinion. Marking deferred for now, until #19 gets a resolution.

[2021-01-15 00:46] ariel-phet commented on #24
@jonathanolson @DianaTavares -- from the point of view of the physics we are showing (no rotation or such) we are treating the blocks as point masses conceptually.

@jonathanolson I think a potential solution would be to always have the center of mass of the block be at its base (this is for instance how we treat the model in something like balancing act). If you did that, then a block growing or

[2021-01-15 05:03] arouinfar commented on #24
I also find the current behavior to be a bit distracting, but I like @ariel-phet's suggested model simplification.

[2021-02-03 22:26] jessegreenberg opened #56 "multitouch-fuzz error: this._attachedListener.interrupt is not a function"
Caught with `?fuzz&fuzzPointers=2`.
[code]

It is trying to interrupt a listener that gets attached to the Pointer, but that listener isn't implementing interrupt which I think is required for an attached Pointer listener.
[code]

Assigning to responsible dev.

[2021-02-15 16:53] jonathanolson commented on #56
Patched the above issue, but running into another fuzzing issue that I'll fix before closing this.

[2021-02-15 16:56] jonathanolson commented on #56
Looks like it's handled with the above interrupt. Closing.

[2021-02-15 16:56] #56 closed

[2021-02-26 23:33] phet-steele commented on #49
Looks great on master!

[2021-03-18 18:24] DianaTavares opened #57 "Reset button in the Mystery screen break the simulation"
I am using this link to the Density simulation: https://bayes.colorado.edu/dev/phettest/density/density_en.html?ea&brand=phet

When I go to the Mystery screen, Random option, and click the Reset button to have a new ser of mystery blocks, the blocks disappears and all the simulation stip working:

![image](https://user-images.githubusercontent.com/26031501/111676743-1afccb00-87e4-11eb-972d-d180e89

[2021-03-18 23:20] jonathanolson opened #58 "Icon perspective changes"
As discussed during design meeting, I'll have a commit coming soon, and will pass off once ready.

[2021-03-18 23:59] jonathanolson opened #59 "Startup performance"
I noticed that the sim starts up pretty slow on other computers. I'd like QA to measure this when we dev test, to see if it's out of line.

It seems to be dominated by the process of creating icons, I'd like to investigate a way to cache these intelligently.

[2021-03-19 00:00] jonathanolson commented on #59
Alternatively, they should respect color changes in the simulations at a minimum, or we could find a better way to generate these.

[2021-03-19 00:21] jonathanolson commented on #58
Icons ready for viewing, let me know how they look. (Mystery screen icon and single/double mass switch icons). I vertically and horizontally aligned each mass icon.

[2021-03-19 00:30] jonathanolson commented on #57
I believe the above commit should fix this. @arouinfar can you verify on master?

[2021-03-19 00:45] jonathanolson commented on #52
https://phet-dev.colorado.edu/html/density/1.0.0-dev.15/phet/density_en_phet.html is a candidate for this, @DianaTavares. Let me know how it looks?

[2021-03-19 16:52] arouinfar commented on #58
Looks great @jonathanolson.

<img src="https://user-images.githubusercontent.com/8419308/111815255-134f2c00-88a1-11eb-8e99-e193c287e1e0.png" width=250>
<img src="https://user-images.githubusercontent.com/8419308/111815280-1b0ed080-88a1-11eb-9201-922426023fb1.png" width=250>

[2021-03-19 16:53] arouinfar commented on #57
I'm unable to reproduce @jonathanolson, but I'll leave it to @DianaTavares to verify.

[2021-03-22 23:08] DianaTavares commented on #58
I love them! they look great. Closing this issue.

[2021-03-22 23:08] #58 closed

[2021-03-22 23:10] DianaTavares commented on #57
the sim is working perfectly on my computer! closing the issue.

[2021-03-22 23:10] #57 closed

[2021-03-22 23:31] DianaTavares commented on #52
this version has better behavior than the one in the prototype section on the website (I see that #19 still happening.  I am going to report that in the issue). Then I suggest changing the sim in the prototype section for this new version.

@jonathanolson  Let me know when the new version is on the website to close this issue. Thanks!!

[2021-03-22 23:43] DianaTavares commented on #52
@arouinfar suggested by slack that is better to wait for a new prototype version when the simulation has fewer bugs.

[2021-03-22 23:45] DianaTavares commented on #51
this is the same issue that #52  then I am going to close it.

[2021-03-22 23:45] #51 closed

[2021-03-22 23:53] DianaTavares commented on #19
In the version: https://phet-dev.colorado.edu/html/density/1.0.0-dev.15/phet/density_en_phet.html
When several blocks placed on top of each other are crushed (a downward force is generated with the mouse), I don't see any stage behavior (yeah!!)

The problem is when blocks are pushed against the wall of the pool. It merges a little bit, and if the block is small and with less mass, it can go throw

[2021-03-23 00:05] DianaTavares commented on #53
this behavior still present in the versions: https://phet-dev.colorado.edu/html/density/1.0.0-dev.15/phet/density_en_phet.html

https://user-images.githubusercontent.com/26031501/112073117-03517980-8b39-11eb-896c-eb9af6ba797a.mov

It is the only strange behavior that remains from issue #19. Then I am going to leave this issue open, and close #19 to have a more clear discussion.

[2021-03-23 00:08] DianaTavares commented on #19
this issue has been a long discussion of different, but related, strange behaviors. the only one stage behavior that remains is reported in issue #53. I am closing this issue to better focus the attention on the remaining thing to solve the blocks going throw the walls of the pool.

[2021-03-23 00:08] #19 closed

[2021-03-23 00:10] DianaTavares commented on #54
I can not reproduce this behavior in the sim version: https://phet-dev.colorado.edu/html/density/1.0.0-dev.15/phet/density_en_phet.html

[2021-03-23 00:18] DianaTavares commented on #48
When I try to submerge the block flush against the edges of the pool by just pulling down the block, I can not reproduce this behavior with the sim versions: https://phet-dev.colorado.edu/html/density/1.0.0-dev.15/phet/density_en_phet.html,

if I generate a "force" by dragging diagonally the block in the direction of the wall I get the behavior reported in issue #53

Closing this issue.

[2021-03-23 00:18] #48 closed

[2021-03-23 00:26] DianaTavares commented on #46
The mass slider moves in steps of 0.10 kg. Then, for the materials that have a min value that has a 0.0X decimal (like the styrofoam that the min mass is 0.15, and ice that is 0.92), the user can not access that values with the slider and need to use the buttons or the volume slider.

I don't see this as a bug, and the sim can stay like it is.

[2021-03-23 00:35] DianaTavares commented on #36
I can not reproduce this behavior in the sim version: https://phet-dev.colorado.edu/html/density/1.0.0-dev.15/phet/density_en_phet.html
closing!

[2021-03-23 00:35] #36 closed

[2021-03-23 00:41] DianaTavares commented on #26
I can not reproduce this behavior with the sim version: https://phet-dev.colorado.edu/html/density/1.0.0-dev.15/phet/density_en_phet.html

[2021-03-23 00:41] #26 closed

[2021-03-23 00:45] DianaTavares commented on #21
It was discussed in the design meeting that we can do something with a query parameter that changes the units of the simulation to kg/m3 (that is the same number that g/l).

[2021-03-23 21:08] oliver-phet opened #60 "User suggestion: move the scale into the water"
I see in the [design doc](https://docs.google.com/document/d/1bVEDecBZwk7CTpCepDsHP6IAy_2NQDB4pPw4ubWadAA/edit#heading=h.e1du2ucs81ii) that the scale position was locked by JO on January, 30 2020. I thought I would make an issue for this comment either way, it will likely come up again if this was a widely-used feature in the Flash version.

[2021-03-23 21:30] DianaTavares commented on #60
Calculate the buoyant force is a learning goal for Buoyancy and not for the Density sim. The scale in the Density sim is for calculating the density of the objects, and for that, the scale needs to be outside of the pool.  then my thinking is the scale with not movement in the density sim is the right decision.  @arouinfar what do you think?

[2021-03-23 22:56] arouinfar commented on #60
I think the user is thinking of the Buoyancy sim, which has a lot of similarities to Density, though different learning goals. It doesn't look like the scale was movable in the Flash version of Density, and I agree with @DianaTavares that it doesn't serve the learning goals to move the scale underwater.

[2021-03-24 15:50] oliver-phet commented on #60
Thanks all, replied to the user.

[2021-03-24 17:26] oliver-phet commented on #60
Reply back from user:

[2021-03-24 17:29] oliver-phet commented on #60
Perhaps for Buoyancy we could consider an option or query parameter to toggle mass vs force scales?

[2021-03-24 18:13] DianaTavares commented on #60
That is a good point. PhET sims are important for flexibility and the several learning goals that can cover. I am not sure if is better to add kg to the Buoyancy sim, that everything is related with forces, or allow the scale to move in Desinty. Probably a thing to discuss in the next design meeting.

[2021-03-31 05:36] jonathanolson commented on #59
Using one stage doesn't seem to speed it up.

[2021-03-31 05:49] jonathanolson commented on #50
I'm trying to look into this, but I'm curious how to reproduce. Two-finger gestures don't seem to be triggering this in the sim (but it says it supports pan and zoom), and after scanning things and testing, I don't see an easy way to programmatically trigger this.

[2021-03-31 17:15] jessegreenberg commented on #50
I just tried the sim on master with macOS 11.2 and I am able to see this by zooming into the sim with the trackpad and using "Command" + "+". Also seeing this on Windows 10 Chrome by zooming in with the keyboard. But zooming into the PhET menu (for example) looks like this for me

<details>

![image](https://user-images.githubusercontent.com/6396244/113184312-04626500-9223-11eb-99f3-05a03113e917.p

[2021-03-31 17:29] jonathanolson commented on #50
I... don't know what I was doing before. First of all, command-+ works perfectly, and the pinch gestures are working. The 3d view is clearly not moving, and I can definitely take it from here. Sorry!

[2021-03-31 17:31] jonathanolson commented on #50
How should panning work when zoomed in for this simulation? The behavior of "drag the background to rotate the molecule" is getting activated in addition to the panning. @jessegreenberg would it make sense to disable this sim-specific behavior when the sim is zoomed in, but leave it when everything is visible?

[2021-03-31 19:13] jessegreenberg commented on #50
I assume that question is for molecule-shapes? Panning by dragging the molecule is generally disabled correctly in that sim, but if you drag the molecule close to the edge of the screen it pans to try to keep the molecule in view even though the molecule is fixed in position. I don't think that should happen, and it is an issue with the AnimatedPanZoomListener. I will make an issue to investigate.

[2021-03-31 20:34] jessegreenberg commented on #50
Ahhh, I see now that you can drag anywhere in the whole background to rotate the molecule. Yes, disabling that when zoomed in (which I think you have implemented) is behaving as I would expect in molecule-shapes. I also reduced the panning that happens during drag which I think makes rotating the molecule behave better when zoomed in. Assigning to back to you @jonathanolson.

[2021-04-13 01:09] jonathanolson commented on #50
Embarrassing. Definitely did. Didn't see an issue there, but it was helpful to solve there first.

I added support for density/buoyancy in general with the above two commits (or any sims using mobius for 3d can pass in the animatedPanZoom listener's matrixProperty into the ThreeIsometricNode).

@jessegreenberg can you verify?

[2021-04-13 16:06] jessegreenberg commented on #50
OK cool, its working great! I made a note about something happening with the ground in density/buoyancy in https://github.com/phetsims/buoyancy/issues/6#issuecomment-818851562 but that can be tracked there and everything else is working well. This can be closed.

[2021-04-13 17:10] jonathanolson commented on #50
Opening here so I can track in the Density repo too. Thanks for the catch!

[2021-04-13 17:16] jonathanolson commented on #50
This is also broken in molecule-shapes.

[2021-04-13 18:01] jonathanolson commented on #59
Using static icons resolves this.

[2021-04-13 18:01] #59 closed

[2021-04-13 19:11] jonathanolson commented on #44
I've moved the icons to by default be loaded as images (instead of generated). This means we create 5 fewer WebGL contexts, and I believe it may help with this.

@KatieWoe or @phet-steele, could you test https://bayes.colorado.edu/dev/phettest/density/build/phet/density_en_phet.html (I rebuilt after pulling) to see if it behaves a bit better? There is a moderate chance it will behave the same.

Ad

[2021-04-14 16:34] jonathanolson commented on #24
@arouinfar can you try out the current behavior, to see if this is working well?

[2021-04-14 16:58] jonathanolson commented on #53
@KatieWoe, @DianaTavares or @arouinfar, can we test with the query parameter p2GroundRelaxation=2.5 to see if that is sufficient? (The default value is 1)

The note for this parameter is "reduction results in less ground penetration when a mass is sitting on the ground", so we'd want to ensure that increasing it wouldn't result in too much ground penetration.

[2021-04-14 17:10] KatieWoe commented on #44
About 5 tabs open before graphical issue occurred on Win 10 Chrome incognito. I also did a fuzz test with iPadOS 14 and the crash and reload was almost immediate.

[2021-04-14 17:24] KatieWoe commented on #53
On master that parameter does seem to stop the issue.
Master without parameter:
![noparameter](https://user-images.githubusercontent.com/41024075/114752644-c6ca0580-9d13-11eb-8ee6-df233118aa59.gif)
Master with parameter:
![withparameter](https://user-images.githubusercontent.com/41024075/114752689-d21d3100-9d13-11eb-93fb-b63aa08197cd.gif)

[2021-04-14 17:31] jonathanolson commented on #53
Ok! Committed that as a default so that could make testing easier.

[2021-04-14 17:39] jonathanolson commented on #44
Testing locally on 2017 Macbook Pro, I have ~5 instances of Density/Buoyancy in my main window, and another 10 running nicely in an incognito window (Chrome 89).

I'll test on my Windows setup and iPhone (with fuzz)

[2021-04-14 18:01] jonathanolson commented on #44
iPhone testing seemed fine while fuzzing, did not crash (watched it for at least a few minutes), 10min of fuzzing seemed fine after.

Windows incognito with 5 tabs, got this:

![image](https://user-images.githubusercontent.com/480878/114757425-14953c80-9d19-11eb-8ff7-35fe18b06ddf.png)

and the graphics error.

I'll look into seeing whether we can re-load the view based on this.

[2021-04-14 18:02] DianaTavares commented on #53
I also review it with the query parameter and I have the same results that @KatieWoe. Nice!!

[2021-04-14 18:37] jonathanolson commented on #44
@kathy-phet and @arouinfar, it seems like this MAY be resolvable, but would take a significant amount (week?) of work. Thoughts on whether this is acceptable, or should I proceed with attempting to resolve this?

[2021-04-14 18:51] arouinfar commented on #44
From what I understand, this only happens if someone opens up 5+ tabs of the **sim** (not just browser tabs). Is that correct? If so, it doesn't seem like a reasonable use case that's worth spending a week of your time on @jonathanolson.

[2021-04-14 19:01] arouinfar commented on #53
Looks great @jonathanolson!

[2021-04-14 19:22] jonathanolson commented on #53
Perfect, closing!

[2021-04-14 19:22] #53 closed

[2021-04-14 19:24] jonathanolson commented on #44
That's my current understanding, however other WebGL-using pages could trigger this too. We currently create 3 contexts (although this could potentially be taken down to 1 with a moderate amount of work), so anything else that creates ~12 contexts would likely also do this.

[2021-04-26 17:52] brooklynlash commented on #54
I was actually able to reproduce this on master, including the link that Diana posted. I will reopen this issue.
![density1](https://user-images.githubusercontent.com/72031637/116128122-d89d9800-a685-11eb-8722-5e5c00f420be.gif)

[2021-04-26 19:10] DevonQui commented on #54
I noticed this can also be done on the other side of the Mystery screen as well. I find that it's easier to reproduce if you play with the window size settings to stretch the sim window.
<img width="1070" alt="Screen Shot 2021-04-26 at 1 09 20 PM" src="https://user-images.githubusercontent.com/72042459/116137404-bcebbf00-a690-11eb-9a61-00b9fce95dfc.png">

<img width="447" alt="Screen Shot 2021-04-

[2021-04-26 19:14] DevonQui commented on #54
I also managed to make one of the block completely disappear off of the screen.
<img width="876" alt="Screen Shot 2021-04-26 at 1 12 46 PM" src="https://user-images.githubusercontent.com/72042459/116137801-40a5ab80-a691-11eb-9af5-bd0bb0af0624.png">

[2021-04-27 21:53] KatieWoe opened #61 "Switching block sets leads to warning in console"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found on master on 4/27/21.
When switching the types of blocks, the console puts out a warning that the texture is being resized. It doesn't seem to lead to any error. Happens on the first screen when adding a second block, and on the third screen when switching or refreshing sets.

**Visuals**
<img width="

[2021-04-28 20:26] jonathanolson commented on #61
Looking at https://stackoverflow.com/questions/55175351/remove-texture-has-been-resized-console-logs-in-three-js, I do believe this is not a concern. I don't think the resizing code will be good maintainability-wise, and we need the mipmapping. Three.js is doing this nicely right now, so I think it's best to just have the warnings print. Thanks for making the issue!

[2021-04-28 20:26] #61 closed

[2021-04-29 21:25] DianaTavares commented on #21
In today's design meeting we discuss this possibility for density and buoyancy. Looks like a good option, but not easy to implement and apport to the users. In the case of the units that have a, as a result, the same density value (for example kg/L, g/cm3, and g/ml) @jonathanolson  commented that can be dangerous to only modify the units and leave the numbers and visualizations as the same.  The s

[2021-05-03 18:23] oliver-phet opened #62 "User reported issue: WebGL disabled, missing screen icons"
@jonathanolson I'm out of ideas on this one. They are on a up-to-date version of Chrome, but WebGL is disabled? (And I assume that is the root cause of the issues?)
The user also created a screencast of the sim behavior: https://watch.screencastify.com/v/eGlJlS0lhqmpG8dmPXsG

[2021-05-03 23:48] jonathanolson commented on #62
It looks like the user has a lot of extensions enabled, what happens if those are disabled (and the browser restarted)? The console output definitely has non-standard scripts running.

[2021-05-04 15:10] oliver-phet commented on #62
I'm going to ask the user to see if they can whitelist phet.colorado.edu.

[2021-05-04 22:24] oliver-phet commented on #62
User is investigating with Securly. Closing for now as it seems this issue is related to their web filter.

[2021-05-04 22:24] #62 closed

[2021-05-12 16:35] oliver-phet commented on #62
To document, another user wrote in with the same issue (Securly).

[2021-06-15 20:43] stemilymill opened #63 "_"

[2021-06-16 21:22] jonathanolson commented on #50
Mobius is reworked to handle this. Required a full rewrite of the coordinate math and how we handle full-screen three.js (we're actually showing it full-screen, even behind the navbar, so we avoid the performance penalty of changes). The approach is complicated, but it also removes the need to compute FOVs and handle pan/zoom separately from other concerns. Closing.

[2021-06-16 22:22] jonathanolson commented on #54
This is easily reproducible when slowed down with query parameters, e.g. `?brand=phet&ea&debugger&screens=3&speed=0.05`. It looks like it's getting stuck between a "very very heavy" scale and the ground. I'll test out some p2 parameter tweaks to see if this can be resolved with that.

[2021-06-17 00:58] jonathanolson commented on #54
I didn't see any settings that could be adjusted enough to get this to work nicely with the physics engine.

@DianaTavares and @arouinfar, thoughts if we do something like "if a block moves into the ground, teleport it into the general region and above the scale?" An alternative would be doing nothing for this. Thoughts?

[2021-06-18 05:41] kathy-phet commented on #54
I played around with the sim for a while and was able to reproduce this once - using the make the screen very narrow horizontal approach. I'm inclined to not add a "self-fix" for this situation, since it does seem like you have to actively be trying to squish the block under the ground. This behavior doesn't seem like it would be encountered much in normal use, it doesn't crash the sim, and I was

[2021-06-18 11:32] DianaTavares commented on #54
Anytime that I try it, I reproduced this behavior. But even that this was fast, push the block several times very fast against the ground close to the scale (I couldn't do it on the other side of the pool, just close to the scale), I also think it is not going to disturb the users' interaction a lot. I agree with the "will not fix" and repone if we receive reports one that is published.

[2021-06-24 22:10] phet-steele commented on #49
@jonathanolson I found a new procedure to get this to happen in https://phet-dev.colorado.edu/html/density/1.0.0-dev.16/phet/density_all_phet.html

1. On the intro screen, use the default Wood and slide the mass to its minimum.
2. Select Styrofoam, then switch back to Wood.

The mass value for Wood will still be at the minimum (0.4 kg), but the tweaker will look enabled.

![image](https://user-ima

[2021-06-30 18:50] jonathanolson commented on #49
I believe this should be fixed up above (handled on the view side for those sliders). Can you verify?

[2021-06-30 19:37] #63 closed

[2021-06-30 21:55] phet-steele commented on #49
This does look to be fixed in master! Thank you!

[2021-06-30 21:55] #49 closed

[2021-07-02 22:41] stemilymill opened #64 "Block labels overlap each other"
Different situation than #42.

**Test device**
Dell laptop, Chromebook

**Operating System**
Win10, Chrome OS

**Browser**
Firefox 89.0.2 , Chrome 91.0.4472.124, Chrome OS 90.0.4430.218

**Problem description**
For https://github.com/phetsims/qa/issues/663
When one or more blocks are small and placed directly next to each other, their labels overlap.

**Steps to reproduce**
Select Intro screen
Add

[2021-07-06 16:53] stemilymill commented on #54
https://github.com/phetsims/qa/issues/663
Blocks can still be pushed into the ground in a variety of ways, including with another block in the Intro screen with two blocks (multiple platforms/browsers)
![density intro comp shove small wood into ground with large aluminum](https://user-images.githubusercontent.com/85511101/124636910-145b9780-de57-11eb-9d11-7fc77b838bc6.gif)

[2021-07-06 19:29] stemilymill opened #65 "Blocks in different positions on the scale cause the scale to show different masses"
**Test device**
Dell laptop

**Operating System**
Win10

**Browser**
Chrome 91.0.4472.124
Firefox 89.0.2

**Problem description**
For https://github.com/phetsims/qa/issues/663
In the Mystery screen, a block will produce slightly different scale readings depending on the location on scale.
For smaller blocks, this only seems to happen when almost all of the block is hanging off the side of the scal

[2021-07-06 19:48] stemilymill opened #66 "Placing block adjacent to block on scale causes scale to read 0.0 kg"
**Test device**
Dell laptop

**Operating System**
Win10

**Browser**
Firefox 89.0.2
Replicated on Chrome 91.0.4472.124

**Problem description**
For phetsims/qa#663
In Mystery screen, if one large block is on the scale and another block is placed directly beside it (touching) the scale will read 0 kg

**Steps to reproduce**
Go to Mystery screen
Place a block on the scale
Place another block against

[2021-07-06 19:51] stemilymill commented on #66
Also, occasionally, if the blocks are pressed together and then you let go of the block, the scale reading will glitch continuously.

![mystery screen random adjacent blocks make scale reading glitchy](https://user-images.githubusercontent.com/85511101/124658625-fc454180-de71-11eb-9f4a-90c08a99366b.gif)

[2021-07-06 19:58] KatieWoe opened #67 "Small blocks don't bounce and look odd"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/663. May be connected to https://github.com/phetsims/density/issues/37 and/or https://github.com/phetsims/density/issues/33.
When you drag a large block with a small density to the bottom of the pool and let go, it shoots up and bounces a bit. This looks alright an

[2021-07-06 21:32] KatieWoe commented on #65
I noticed this while dev testing as well. It can be inconsistent sometimes. It seems like the different masses might occur if one of the masses is pushed into/overlapping the scale.

[2021-07-07 16:48] stemilymill opened #68 "Inconsistent shading behavior in Intro screen"
**Test device**
Dell laptop

**Operating System**
Win10

**Browser**
Chrome 91.0.4472.124

**Problem description**
For https://github.com/phetsims/qa/issues/663.  Similar to https://github.com/phetsims/density/issues/38. Probably not a big concern, since the shadow was left alone last year. When I noticed it, I was mostly wondering if there is supposed to be some object casting a shadow. @DianaTav

[2021-07-08 15:42] KatieWoe opened #69 "Scale's max width for text is too long"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/663
The string on the scale in the third screen can go off the scale and look odd when the strings are long. I'm not certain if this is likely to actually happen.
**Steps to reproduce**
1. Use stringTest double or long
2. Go to the third screen and observe the scal

[2021-07-12 22:51] KatieWoe opened #70 "Potential Performance issues"
For https://github.com/phetsims/qa/issues/663. I did a quick memory test. While the memory test results look ok, I noticed some oddities with the fuzz test. The test seemed to stall often, with fuzzing seeming to stop for several seconds at a time. I also tried the fuzz test on iPad Safari (iPadOS 14) and the sim crashed and reloaded, which usually indicates a memory problem, though one doesn't se

[2021-07-20 15:08] DianaTavares commented on #69
In general units and numbers are not large translations, then the most probably is that we are not going to have this type of situation with large text in the scale mass readout.
@jonathanolson, please do the maxWidth of the text the same that the scale. Thanks!!

[2021-07-20 15:16] DianaTavares commented on #68
thanks to report this strange behavior. Users need to pay a lot of attention to see this effect. I don't think is necessary for now an effort to solve this. I am going to leave it open but deferred it.

[2021-07-20 15:25] DianaTavares commented on #67
you are right, it looks very strange. I am playing with the prototype version of the website and it has a better behavior respected to this. I think that probably was some modification related to #37 and/or #33. @jonathanolson, can you review it?

[2021-07-20 22:12] DianaTavares commented on #24
it is working perfectly in this: https://phet-dev.colorado.edu/html/density/1.0.0-dev.16/phet/density_all_phet.html.   Thanks, @jonathanolson!! closing

[2021-07-20 22:12] #24 closed

[2021-07-21 20:30] jonathanolson commented on #64
@DianaTavares, should I just make the labels smaller size so this isn't possible?

[2021-07-21 21:07] jonathanolson commented on #65
It looks like this is based on the presence of the invisible barrier to the left. With it removed, the readings seem to become consistent.

[2021-07-22 02:35] jonathanolson commented on #65
@stemilymill can you see if the above commit fixes this in master? I added a minor "push" on the left side of the barrier, that will overcome the friction that the scale gives it.

Turns out it's related to the block being partially overlapped with an invisible barrier, but the scale's friction keeping it from resolving.

[2021-07-22 16:35] jonathanolson commented on #66
This seems again related to the combination of the barrier and friction. Looking for workarounds (I'll see if I can get rid of friction on vertical surfaces).

[2021-07-22 18:12] DianaTavares commented on #68
I don't think this is a big concern. @jonathanolson, is this problem easy and fast to solve?  if the answer is not, then I think is better to move this issue to deferred or wonfix.

[2021-07-22 18:35] arouinfar commented on #31
I added the lead design, developer, and team credits in the above commit. I credited HTML5 and legacy team members, as conventional, see https://github.com/phetsims/joist/issues/716

[2021-07-22 18:55] jonathanolson commented on #66
I've killed all vertical-only friction with the above commit. I believe this should fix the issue. @stemilymill can you verify in master?

[2021-07-22 19:09] jonathanolson commented on #69
@DianaTavares I've updated the maxWidth, can you see how it looks?

[2021-07-22 22:11] KatieWoe commented on #65
Looks good on master

[2021-07-23 18:23] jonathanolson commented on #65
Thanks!

[2021-07-23 18:23] #65 closed

[2021-07-26 16:40] DianaTavares commented on #69
Working! thanks!!

[2021-07-26 16:40] #69 closed

[2021-07-26 16:43] DianaTavares commented on #64
No, the size of the text is nice the way it is, this issue is only visible when one of the blocks is in the smallest volume and only hides the units. The students can see what is the mass value. @arouinfar  and I agree that this is not a problem that interferes with user experience or learning. closing!

[2021-07-26 16:43] #64 closed

[2021-07-27 06:36] jonathanolson commented on #68
@DianaTavares can you check out the shading in master? I've updated it to a different (but very similar) static environment map, that I believe should resolve this issue and look similar to the previous version (with internal simplifications).

[2021-07-27 18:28] DianaTavares commented on #68
I like the way it is. It looks simpler, less "shiny", and I like it.

[2021-07-27 18:28] #68 closed

[2021-07-27 18:53] jonathanolson commented on #67
I've added three query parameters above:

[code]

I demoed effectively `viscosityMultiplier=2&viscositySubmergedRatio=0.8`. @DianaTavares what query parameter combinations seem to work best for you?

[2021-07-27 20:32] jonathanolson commented on #70
Screenshots are taking an impressive amount of time (over 50 seconds in my testing), those seem to be the causes of the stalls.

[2021-07-27 20:47] DianaTavares opened #71 "Move mass labels on the block behind the water"
In the actual sim the labels of the block's mass are in front of the water:
![image](https://user-images.githubusercontent.com/26031501/127224807-b6437d26-5b51-4e7b-8225-bedf3a2b726a.png)

@kathy-phet  commented that sometimes having them in front of the water messes up my perspective of going into the water.  It is not hard to test it, then let's try to mother the mass labels behind the water.

[2021-07-27 23:29] DianaTavares commented on #67
I already play with the parameters and the one that I like most how to generate the bouncing was viscosityMassCutoff. I use the value of 0.5 like it is in[ this link](https://bayes.colorado.edu/dev/phettest/density/density_en.html?ea&brand=phet&viscosityMassCutoff=0.5) and I like the behavior for small and big blocks with low density in water:
![density1](https://user-images.githubusercontent.com/

[2021-07-28 01:00] jonathanolson opened #72 "Reset-all doesn't reset velocity of blocks"
To reproduce, `?speed=0.1`, put a styrofoam block under the water on the 1st screen, wait until it's flying upward, then reset-all. The wood block will have a velocity upwards.

[2021-07-28 01:06] jonathanolson commented on #70
Fixed some memory problems, and cut the screenshot time significantly with some optimizations. @KatieWoe can you test this out?

[2021-07-28 03:36] jonathanolson commented on #71
This is possible, but tricky and ill-defined in cases like this:
![image](https://user-images.githubusercontent.com/480878/127259488-e6c6814c-0f8b-4e0d-a14f-3a5f0240a048.png)

We'd need to embed the label in the 3D scene in order to have it behind water (especially the water top).

If we embed it, it would need to appear in front of the ground, but behind the water (tricky), since this label would

[2021-07-28 04:38] jonathanolson commented on #72
Handled above.

[2021-07-28 04:38] #72 closed

[2021-07-28 05:33] kathy-phet commented on #71
It sounds hard and tricky, so I don’t think we so do anything.

Sent from my iPhone

[2021-07-28 16:59] DianaTavares commented on #67
by slack @jonathanolson commented that it used to be the previous value before it was changed based on one of the issues #37. Reviewing the comments in that issue @arouinfar  and I agree that the behavior was acceptable, and we can use viscosityMassCutoff as 0.5. But this opens a problem with the common code between Density and Buoyancy because the behavior of low dense blocks in fluids with high

[2021-07-28 22:18] kathy-phet commented on #71
@DianaTavares - Should we just close this?

[2021-07-28 22:49] #71 closed

[2021-07-28 22:50] DianaTavares commented on #71
yes! I had the first interview and the student didn't mention anything related to it.

[2021-07-29 19:06] KatieWoe commented on #70
I built a local version off of master on 7/29/21.The pauses still occurred, and did not seem to be connected to taking screenshots. However, the pause seemed a bit shorter and is now accompanied by this console error:
<img width="373" alt="errorsinfuzz" src="https://user-images.githubusercontent.com/41024075/127550501-3e69b793-c4b6-433c-afde-bfe1c2ce99e1.png">
Memory test:
<img width="364" alt="ne

[2021-07-30 18:57] DianaTavares commented on #60
during the design meeting on July 29, 2021, it was discussed the idea of a quarry parameter to add a scale in the water. @ariel-phet  commented that is better to have fixed scales to not generate questions not related to the goal of the sim, like the change in the mass value in the scale if a student moves the scale in the sim with a block in the top.

[2021-07-30 19:07] DianaTavares commented on #67
During the last design meeting, it was discussed the idea to limit the max velocity that a block can get when it goes out of the water, making that denser blocks go faster to the equilibrium.   @jonathanolson  is going to play with that option.

[2021-07-30 19:38] jonathanolson commented on #70
@KatieWoe are you able to take screenshots on your version (from the PhET menu?)

The above error looks like it's triggered by `Function.generateScreenshot`

[2021-07-30 19:41] KatieWoe commented on #70
I thought by screenshots we were talking about the pause during fuzz while a memory snapshot was being made. I hadn't tried taking a screenshot from the menu.

[2021-07-30 19:52] jonathanolson commented on #70
Taking screenshots from the menu is what used to take ~50 seconds on my system.

[2021-07-30 20:09] KatieWoe commented on #70
I get this error when I try to take a screenshot.

[2021-07-30 21:55] DianaTavares opened #73 "open space to move blocks out of the pool"
During the first interview of Density, and also commented by @Emily2, it is difficul for the users to move blocks in the mystery screen of the sim. It has 5 blocks that require students to measure volume and mass, and some student's strategies require arranging the blocks out of the pool.  The idea, for now, is to move the invisible walls, that limit the movement of the blocks, the   scale and con

[2021-08-03 20:45] jonathanolson commented on #67
I limited the max velocity to 5. @DianaTavares can you try it out?

[2021-08-04 18:56] jonathanolson commented on #73
Implemented. Also helpful is the new `?showBarrier` query parameter, which will visually show where the (usually invisible) barrier is, since it's now changing locations.

Can you let me know how this looks?

[2021-08-04 19:00] jonathanolson commented on #70
Added a mobius commit above, can you test and see if you get an error now when taking a screenshot?

[2021-08-04 19:01] jonathanolson commented on #70
I believe the failure came from a non-integer backingScale (something that certain computers have and give to the browser). I believe it would have broken screenshots in built/unbuilt versions. I think it's fixed now, testing in the unbuilt version should be sufficient.

[2021-08-04 19:12] KatieWoe commented on #70
I do not get a console error in master. Taking a screenshot takes a long amount of time however.

[2021-08-04 19:24] jonathanolson commented on #70
I’m curious whether this performance is acceptable. Is a delay for the screenshot from the PhET menu acceptable?

[2021-08-05 01:20] DianaTavares opened #74 "change the values of blocks in set 1 in the mystery screen"
Now that I finished with the interviews, I identify that some changes in the mystery screen, set 1, will support students to identify better:  1) how to measure the volume of the blocks (for that reason two blocks need to have the same volume, but one of them sink and other not), 2) identify the relationship of the density value with the prediction of a block sinking or floating in the water, for

[2021-08-05 01:28] DianaTavares commented on #73
The idea was to move also the scale to always be at the edge of the screen to not allow blocks to get crushed to the left of the scale when the screen change its size:

![image](https://user-images.githubusercontent.com/26031501/128276641-a063ea18-3291-4ce6-918d-0a06da67a521.png)

![image](https://user-images.githubusercontent.com/26031501/128276664-a78ddcc1-0f99-46fe-a232-10cdc6162c56.png)

[2021-08-05 03:26] jonathanolson commented on #73
Implemented, however:

1. Load the sim in a wider aspect, Mystery screen:
![image](https://user-images.githubusercontent.com/480878/128285993-c4bb1282-ec78-4ccd-bc06-a9aa8d45d3e3.png)

2. Move the blue block:
![image](https://user-images.githubusercontent.com/480878/128286034-9fe6f54e-a6c8-4dbd-9814-959bba1af220.png)

3. Do something to instantly shift the size (e.g. opening dev-tools, command-opt

[2021-08-05 03:32] jonathanolson commented on #74
Implemented above, can you try it out?

[2021-08-05 12:24] DianaTavares commented on #74
I don't see the change. I already try `command-shift-R` to refresh the sim, and one of the small blocks is still being Diamond when it should be wood.

![image](https://user-images.githubusercontent.com/26031501/128349087-6b183a97-366c-421e-bc03-dbfcaaa61024.png)

[2021-08-05 12:36] DianaTavares commented on #67
It works perfectly for Density! I think that the behavior for the Explore screen in Buoyancy is very good, but in the bottle screen still jumping the bottle for a long time.

![Bottel](https://user-images.githubusercontent.com/26031501/128350697-f9432083-79c5-45ed-be5b-41bb38b018ec.gif)

I think that this behavior is acceptable and we can go with these values. I just want to present it today in th

[2021-08-05 12:43] DianaTavares commented on #66
I already review this and it is working perfectly. Thanks, Jonathan!!

[2021-08-05 12:43] #66 closed

[2021-08-05 20:09] DianaTavares commented on #73
working well. If we don't lose blocks is all right.

[2021-08-05 20:09] #73 closed

[2021-08-06 15:47] DianaTavares commented on #67
In the design meeting, we agree that this behavior is good!
Use viscosityMassCutoff as 0.5 to allow small blocks to bounce, and limited the max velocity to 5 to make less dense blocks to stabilize faster.

[2021-08-06 16:12] DianaTavares commented on #74
I  see it working, thanks!!

[2021-08-06 16:12] #74 closed

[2021-08-06 16:15] DianaTavares commented on #60
We discuss this in the design meeting again, and we agree that this is more suitable for Buoyancy, then better to think of a solution to this user suggestion in that simulation, for example, a query parameter that changes the lecture in the scales to kg in place of newtons.

[2021-08-06 16:15] #60 closed

[2021-08-06 16:17] DianaTavares opened #75 "Add sliders to the compare screen"
In the last design, the meeting was discussed to include sliders bars in the compare screen to make it more interactive. The mockups are:

For "same mass" have a slider to adjust the mass but the volumes do not change. The slider is from 1 to 10 kg.
![image](https://user-images.githubusercontent.com/26031501/128542807-15c54f28-1972-4985-885a-a9cc5628eb7f.png)

For "same volume" have a slider to ad

[2021-08-06 19:59] arouinfar opened #76 "PhET-iO Design Review"
Issue to track comments from the PhET-iO design review currently underway.

[2021-08-06 20:29] arouinfar commented on #76
@DianaTavares @ariel-phet and I reviewed the Intro and Compare screens on 8/6/2021. I'll create individual issues for our comments and reference this issue.

[2021-08-07 00:31] jonathanolson commented on #67
Implemented the cutoff, can you verify things look good?

[2021-08-07 02:23] jonathanolson commented on #75
Implemented, can you verify?

Also, highly recommend we change the density range so it doesn't really go past 2. The zone from 1.01 to 10 is... functionally identical, and takes up the large majority of the slider space.

[2021-08-07 02:51] DianaTavares commented on #75
I love it! and you are right, density doesn't need to go to 10. I think that a max value of 2 is enough.

[2021-08-07 02:54] DianaTavares commented on #67
it is looking perfect, thanks!!

[2021-08-07 02:54] #67 closed

[2021-08-10 19:41] jonathanolson commented on #75
Implemented above.

[2021-08-10 21:36] arouinfar opened #77 "`comboBox.listBox` contents are missing in studio tree"
For #76

There are four ComboBoxes in Density and they are all currently missing the listBox contents in Studio.
<img src="https://user-images.githubusercontent.com/8419308/128938288-89e8f36d-b3c9-4435-b75a-44bdcf4bf61f.png" width=200>

For an example of what a ComboBox normally looks like in Studio, see `phScale.macroScreen.view.soluteComboBox`
<img src="https://user-images.githubusercontent.com/

[2021-08-10 21:39] arouinfar opened #78 "Remove properties related to displaying force vectors"
For #76

These properties are specific to Buoyancy, and it would be best to hide/remove them from the tree. If the sim cannot remain stateful with these things removed, let's instead set them to phetioReadOnly: true.
- [x] `density.*Screen.model.showBuoyancyForceProperty`
- [x] `density.*Screen.model.showContactForceProperty`
- [x] `density.*Screen.model.showForceValuesProperty`
- [x] `density.*Sc

[2021-08-10 22:00] DianaTavares commented on #75
Nice!  The last thing related to this is that the sliders need to snap every 0.1 steps.

Once that that is ready we are going to be ready for the second round of interviews, and a dev version is going to be needed. Thanks!

[2021-08-10 22:09] arouinfar opened #79 "Several properties should be phetioReadOnly: true"
For #76

These properties should be read-only, as there is no need for the client to directly set them.

- [x] `density.*Screen.model.gravityProperty`
- [x] `density.*Screen.model.liquidMaterialProperty`
- [x] `density.*Screen.model.pool.liquidYInterpolatedProperty`
- [x] `density.*Screen.model.pool.liquidVolumeProperty`

For each block:
- [x] `buoyancyForceInterpolatedProperty`
- [x] `contactForc

[2021-08-10 22:22] jonathanolson commented on #79
I believe these should all be handled with the above commit.

[2021-08-10 22:31] jonathanolson commented on #75
Implemented, published https://phet-dev.colorado.edu/html/density/1.0.0-dev.18/phet/density_all_phet.html if you need it (let me know if you need another version whenever).

[2021-08-10 22:41] jonathanolson commented on #78
Implemented above.

[2021-08-10 23:40] DianaTavares commented on #75
Amazing, thanks!!

[2021-08-10 23:40] #75 closed

[2021-08-11 01:01] jonathanolson opened #80 "branch: three-r131"
See https://github.com/phetsims/density-buoyancy-common/issues/33

[2021-08-12 17:06] jonathanolson commented on #77
Should be fixed with the above commit, can you verify?

[2021-08-12 17:10] jonathanolson opened #81 "Review pointer areas"
See https://github.com/phetsims/density-buoyancy-common/issues/24, I'll check over pointer areas first.

[2021-08-12 22:06] DianaTavares opened #82 "Change name of compare screen to intro, and modify some initial values"
Now that the order of the screens is different, it is necessary to change the name of the compare screen to **intro**.

also is better to have nicer numbers in the "same density" option. The changes are:

default density = 0.5 kg/L

red block volume = 1L, mass =0.5 kg
green block volume = 2 L, mass = 1 kg
blue block volume = 4 L, mass = 2 kg
yellow block, volume = 6 L, mass = 3 kg

[2021-08-16 18:05] jonathanolson commented on #82
Should be implemented with the above changes, can you verify?

[2021-08-16 18:08] DianaTavares commented on #82
it is working! Thanks!!

[2021-08-16 18:08] #82 closed

[2021-08-18 18:22] jonathanolson commented on #81
Pointer areas look good here!

[2021-08-18 18:22] #81 closed

[2021-08-19 20:45] KatieWoe opened #83 "CT build failed with status code 1"
[code]

[2021-08-20 20:29] jonathanolson commented on #83
I believe I resolved this, it was commits that I had failed to push from density/buoyancy themselves.

[2021-08-23 19:10] DianaTavares opened #84 "Add a gradient fo color to the blocks in the compare screen"
Related to the last design meeting (August 19th, 2021) and the interviews with students performed, the changes for the Density sim are:

- [x] go back to the original order and names of the screens: Intro, Compare, Mystery
- [x] In the Intro screen, have the density readout by default open
- [x] In the compare screen, add a gradient color to the blocks associate with their density. The color of ea

[2021-08-25 16:21] Nancy-Salpepi commented on #64
@diana I just wanted you to know that the values can also be blocked, not just the units.
<img width="517" alt="Screen Shot 2021-08-25 at 11 37 57 AM" src="https://user-images.githubusercontent.com/87318828/130827831-4a27fa78-b114-43f1-8717-df6648b815f4.png">

[2021-08-25 18:30] Nancy-Salpepi opened #85 "Block remains suspended when released in Studio Wrapper"
Test device**
Macbook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
In Studio wrapper: If block is released when mouse pointer is off screen, the block remains suspended until mouse focus returns to screen. This is seen both before and after sim is launched in studio.

**Steps to reproduce**
In any screen in Studio Wrapper:
1. Lift a block up until the mouse

[2021-08-25 19:04] Nancy-Salpepi opened #86 "Scale position changes"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
In the mystery screen, the location of the scale changes when the reset button is pressed.

**Steps to reproduce**
1. Select the Mystery screen
2. Move a couple of blocks around
3. Press the reset button

**Visuals**
https://drive.google.com/file/d/1Ijgx0Z_djYkiVMUHcYu4IVhml7P3m_tX/view?us

[2021-08-25 21:20] Nancy-Salpepi opened #87 "Sim won't launch after Mystery Screen is accessed"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
Once the Mystery Screen is accessed, the sim will not load in Studio wrapper. The Home screen appears after the preview sim button is pressed, but sim doesn't load.

**Steps to reproduce**
1. Open Mystery Screen
2. Change to either Explore or Intro screen (even this step can be skipped)
3.

[2021-08-26 18:43] Nancy-Salpepi opened #88 "block can be dragged "into" scale"
**Test device**
Macbook Air (m1 chip)

**Operating System**
11.4.

**Browser**
chrome

**Problem description**
On the Mystery Screen, the 1b block can be dragged "into" the scale using a denser block--such as 1c or 1a. I noticed this when I went to lift the 1c block over the 1b to get to the scale. I wasn't intentionally trying to move/ram the 1b block.

I can also reproduce this with the 1e and 3

[2021-08-30 01:28] arouinfar commented on #77
Looks good, thanks!

[2021-08-30 01:28] #77 closed

[2021-08-30 01:37] arouinfar commented on #78
👍🏻

[2021-08-30 01:37] #78 closed

[2021-08-30 01:44] arouinfar commented on #79
Looks good, thanks!

[2021-08-30 01:44] #79 closed

[2021-08-30 01:56] arouinfar commented on #70
It currently takes 12s to generate a screenshot on my MacBook, which is overly long. We can probably sacrifice some quality for speed, but this should be discussed with @kathy-phet and @DianaTavares, so tagging for design meeting.

[2021-08-30 02:58] arouinfar opened #89 "`density.global.view.colorProfile` should only contain colors relevant to Density"
For #76

Several of the colors in the color profile only apply to the Buoyancy simulation. Can they be removed from Density @jonathanolson?
<img src="https://user-images.githubusercontent.com/8419308/131278159-575cd528-6bd7-4ebf-86b2-e2f5ea059d2d.png" width=200>

[2021-08-30 03:19] arouinfar opened #90 "Each `numberControl.slider` should contain a linked property"
For #76

All sliders should contain a linked property that points to the corresponding property.

For example, `density.introScreen.model.densityProperty` should appear under `density.introScreen.view.densityNumberControl.slider` as a linked property.

[2021-08-30 20:31] arouinfar opened #91 "Update metadata of several model properties"
For #76

Lots of model properties need some combination of phetioDocumentation and/or units.

`density.*Screen.model.gravityProperty`
   - [ ] add phetioDocumentation
   - [ ] add units

`density.*Screen.model.invisibleBarrierBoundsProperty`
- [ ] add phetioDocumentation
- [ ] change to phetioReadOnly: true

`density.*Screen.model.liquidMaterialProperty`
- [ ] add units to density and viscosity va

[2021-08-30 21:08] arouinfar opened #92 "Potential floating point issues with mass and volume"
For #76

On startup, `density.exploreScreen.model.primaryMass.massProperty` is 1.2000000000000002 kg and `density.exploreScreen.model.primaryMass.volumeProperty` is 0.0030000000000000005. These values are not an exact match of the data provided in the panel:
![image](https://user-images.githubusercontent.com/8419308/131404225-e9f15293-9d4a-4db1-b1a4-af40b27ba5f2.png)

The density of wood in the mo

[2021-08-30 21:16] arouinfar opened #93 "AccordionBoxes should be named accordingly in studio tree"
For #76

The phetioID of an AccordionBox should include "AccordionBox" as a suffix, following the form {{title}}AccordionBox. We usually also name the underlying property of the corresponding ExpandCollapseButton {{title}}ExpandedProperty where {{title}} is the string used in the sim.

- [ ] Rename `density.exploreScreen.view.densityReadoutBox` to `density.exploreScreen.view.densityAccordionBox`
-

[2021-08-31 02:20] jonathanolson commented on #93
I believe I've made these changes above, can you verify?

[2021-08-31 17:56] jonathanolson commented on #92
Is this a studio issue, or a general one? If we need this level of exactness internally (and in the reported API), then we shouldn't be using floating-point numbers, but instead code or a library that handles exact values (symbolically, since we'd need cube roots). To me, it potentially makes sense to live with this, or to round the values shown in the studio.

It sounds somewhat generally helpful

[2021-09-01 19:42] jonathanolson commented on #91
This will be a bit weird for phrasing in Buoyancy. Do we need to switch the documentation for things between the sims?

[2021-09-01 19:52] arouinfar commented on #91
Do you have any ideas for something that could work for both sims? It's preferable to keep the documentation the same, if possible.

[2021-09-01 20:00] jonathanolson commented on #91
Implemented changes, can you verify?

I've used the word "mass" instead of "block", however that could be somewhat confusing with that phrase.

[2021-09-01 20:11] jonathanolson commented on #88
Good find!

It looks like the block being pushed into the ground is then pushing up with a large force (to compensate), which is causing a large friction force, which gets to the point it overwhelms the collision force.

I don't offhand see a great way to tune this. @DianaTavares and @arouinfar thoughts about severity?

[2021-09-01 20:14] jonathanolson commented on #89
@samreid or @zepumph, could we conditionally remove the display of color properties? Or would it be best to conditionally provide opt-out tandems?

[2021-09-01 20:34] jonathanolson commented on #90
I believe this should be complete. Almost all of those cases are unit changes or things like density-to-material, those are ok to link? Can you verify?

[2021-09-01 22:12] kathy-phet commented on #91
What about the phrase "object" or "shape" instead of "mass". I do think "Displays a mass readout on each mass" will be hard to understand.

[2021-09-01 22:36] samreid commented on #89
How about DensityColors.js and BuoyancyColors.js?

[2021-09-01 23:39] jonathanolson commented on #91
Updated to "Displays a mass readout on each object" above.

[2021-09-02 00:54] samreid commented on #89
Would it be easy to have a list of DensityMaterials and BuoyancyMaterials, or is it better to have them all defined together?

[2021-09-02 19:36] DianaTavares commented on #52
this is not needed anymore. The sim is almost ready to publish!

[2021-09-02 19:36] #52 closed

[2021-09-02 19:38] jonathanolson commented on #70
I'll make query parameters for tradeoffs (resolution and gamma correction).

[2021-09-02 19:45] DianaTavares commented on #88
it doesn't represent a big problem for student's interaction with the sim. Then we leave it open, in case users report it, but for now, the decision is not to fix it.

[2021-09-03 21:36] arouinfar opened #94 "Instrument Blocks panels"
For #76

The Blocks panels on the Intro and Mystery screens should be instrumented so that the panel can be completely hidden when the user wants to hide the RadioButtonGroup.
![image](https://user-images.githubusercontent.com/8419308/132066720-3a73e76f-2d12-49d5-8e02-8edbfce11d21.png)
![image](https://user-images.githubusercontent.com/8419308/132066725-2e642bdb-3165-4fc0-a0a7-bc2c35dd786a.png)

@

[2021-09-03 22:11] arouinfar opened #95 "Rename `modeRadioButtonGroup` to `blocksRadioButtonGroup`"
For #76

These RadioButtonGroups in the Blocks panels are currently `modeRadioButtonGroup` and the underlying property is `model.modeProperty`.
![image](https://user-images.githubusercontent.com/8419308/132066720-3a73e76f-2d12-49d5-8e02-8edbfce11d21.png)
![image](https://user-images.githubusercontent.com/8419308/132066725-2e642bdb-3165-4fc0-a0a7-bc2c35dd786a.png)

"Mode" is a bit ambiguous, and th

[2021-09-03 22:33] arouinfar opened #96 "Group block sets in the tree and follow consistent naming patterns"
For #76

Currently, there is a lot of variability in how the blocks are named, such as `blueMass`, `primaryMass`, `set1.1A`. The sim view refers to these objects as "Blocks" so let's use that terminology for consistency. I think it would also be helpful to group the block sets together in the tree along with the property responsible for switching between the sets.

Here's a proposed tree structure

[2021-09-03 23:00] arouinfar opened #97 "Create derived property `scaleMeasuredMassProperty`"
For #76

In Density, the scale readout displays the mass in kg. Clients may want this information in the data stream. It can be derived from `model.scale.scaleForceInterpolatedProperty`, but it would be more convenient if we could do the calculation for them.

@jonathanolson please create `model.scale.scaleMeasuredMassProperty` with units of kg and make it read-only.

[2021-09-03 23:07] arouinfar commented on #91
@jonathanolson I missed the scale in my first review. Please make all of the following `phetioReadOnly: true`:
- [ ] `density.mysteryScreen.model.scale.inputEnabledProperty`
- [ ] `density.mysteryScreen.model.scale.materialProperty`
- [ ] `density.mysteryScreen.model.scale.scaleForceInterpolatedProperty` (also needs units of N)

[2021-09-03 23:10] arouinfar opened #98 "`phetioFeatured` overrides"
Once the issues from the PhET-iO design review (#76) have been addressed, I should commit the `phetioFeatured` overrides.

[2021-09-03 23:14] arouinfar opened #99 "PhET-iO Client Guides"
This sim will need PhET-iO client guides before going into rc testing. I sent a Slack message to @kathy-phet to ask if there are any client-specific requests.

[2021-09-03 23:15] arouinfar commented on #99
@jonathanolson I tagged this a blocks publication, but it only blocks RC versions, not dev versions.

[2021-09-03 23:17] arouinfar commented on #76
@jonathanolson I've completed the PhET-iO design review. All issues are tagged above.

[2021-09-07 16:13] jonathanolson commented on #94
Implemented above, can you verify?

[2021-09-07 16:49] jonathanolson commented on #95
Implemented above (and a ton of code renaming too), can you verify?

[2021-09-07 17:01] jonathanolson commented on #97
Implemented above, can you verify?

[2021-09-07 17:13] jonathanolson commented on #96
Implemented above, can you verify?

[2021-09-07 17:17] jonathanolson commented on #91
Implemented above, can you verify?

[2021-09-07 17:18] jonathanolson commented on #89
It would be better to have them defined together.

[2021-09-07 17:38] zepumph commented on #89
What about metadata on them that can conditionally instrument? Or conditionally phetioFeature them depending on what sim is being run?

[2021-09-07 17:40] zepumph commented on #89
What about using something like the namespace solution from https://github.com/phetsims/scenery/issues/1259? Or will this not work because they are all defined in the common repo?

[2021-09-07 17:42] zepumph commented on #89
Probably it will be best to just have a ternary on how you provide the Tandem, like for

https://github.com/phetsims/density-buoyancy-common/blob/6703af36f2c598358f2bdbbaa3def94d5198bfbd/js/common/view/DensityBuoyancyCommonColors.js#L110

. . . .

[code]

[2021-09-07 18:30] jonathanolson commented on #89
It looks like the ternary is working best. Committed above, @arouinfar can you verify?

[2021-09-07 22:40] jonathanolson commented on #70
Query parameter docs:

[code]

So `?mobiusCanvasSupersampling=1&mobiusCanvasSkipGamma` is the fastest. `?mobiusCanvasSupersampling=3` is the default.

@DianaTavares can you try these out?

[2021-09-08 21:41] arouinfar commented on #97
Looks good, thanks!

[2021-09-08 21:41] #97 closed

[2021-09-08 21:47] arouinfar commented on #95
Looks great, thanks @jonathanolson

[2021-09-08 21:47] #95 closed

[2021-09-08 21:48] arouinfar commented on #94
Looks good, thanks @jonathanolson

[2021-09-08 21:48] #94 closed

[2021-09-08 21:57] arouinfar commented on #89
Thanks @jonathanolson! The tree looks much better now.

[2021-09-08 21:57] #89 closed

[2021-09-09 19:22] DianaTavares commented on #70
I really find `?mobiusCanvasSupersampling=1&mobiusCanvasSkipGamma` good enough and super fast:

![Density screenshot (1)](https://user-images.githubusercontent.com/26031501/132748980-6cea19f8-f293-4cd7-844b-cfe3d8c18267.png)

I zoom in 400% and it looks a little pixelated, but I think it is good enough for students taking screenshots:

![image](https://user-images.githubusercontent.com/26031501/13

[2021-09-09 23:07] jonathanolson commented on #85
This is unfortunately expected, due to Chrome's implementation of events with iframes. @arouinfar can you confirm? (This was the subject of the out-of-iframe maintenance releases).

Marking as won't-fix

[2021-09-10 00:29] jonathanolson commented on #84
Implemented the changes above, can you verify? Also see if the gradient scales look good (they can be somewhat adjustable).

[2021-09-10 00:42] jonathanolson commented on #87
The contact force on the scale seems to immediately go to NaN (not-a-number), and it looks like that's getting nulled out by the JSON stringify (infinities and NaNs don't transfer well to JSON, since they're not supported).

![image](https://user-images.githubusercontent.com/480878/132780349-38b6b8fc-e084-48ae-b34c-07fb49ed8b2e.png)

So first of all, I would expect NumberIO and Vector2IO (etc.) to

[2021-09-10 00:53] jonathanolson commented on #87
The p2.js physics engine is reporting the scale's mass at `1.7976931348623157e+308`.

[2021-09-10 15:47] DianaTavares commented on #84
Working perfectly. Thanks @jonathanolson

[2021-09-10 15:47] #84 closed

[2021-09-11 21:26] zepumph commented on #87
We do support infinity in NumberIO, but it looks like Vector2 wasn't using that, see https://github.com/phetsims/dot/issues/110.

https://github.com/phetsims/tandem/issues/246 for general investigation and unit test creation.

[2021-09-14 16:55] jonathanolson commented on #87
I believe this is fixed in master, can you verify?

[2021-09-14 17:25] Nancy-Salpepi commented on #87
Preview sim launches perfectly now.

[2021-09-14 17:29] Nancy-Salpepi commented on #87
@jonathanolson once the sim is launched, the reset button doesn't work in the mystery screen. Shall I open a separate issue?

[2021-09-14 17:33] Nancy-Salpepi commented on #86
This is also seen in the Studio wrapper--If the Mystery Screen is not accessed until after the sim is launched, the scale will appear suspended over the pool.

[2021-09-15 16:15] jonathanolson commented on #87
@Nancy-Salpepi I'm curious what you're seeing. Some bugginess I'm seeing is:

1. Load studio and go to the mystery screen
![image](https://user-images.githubusercontent.com/480878/133470253-a9294503-71c0-4f6e-bfa4-1ae9f4acd05f.png)

2. Preview sim:
![image](https://user-images.githubusercontent.com/480878/133470324-fb535be0-ff61-4b68-992f-35e706b38efb.png)

The block gets pushed to the side

3. Re

[2021-09-15 16:41] Nancy-Salpepi commented on #87
@jonathanolson this is what I did:
1. In studio, I selected the Mystery Screen
2. I placed the 1b and 1a blocks in the water
3. I pressed "Preview Sim"
4. In the launched sim, I pressed the reset button--I see the same flashing that you described, but also the blocks stay in the water.

![noreset](https://user-images.githubusercontent.com/87318828/133474453-421215de-108e-48ef-b795-87e6541f7ffc.gif

[2021-09-15 20:33] jonathanolson commented on #86
I believe the above issues should be fixed in master. Can you verify?

[2021-09-15 20:33] jonathanolson commented on #87
I believe this should be handled in master, can you verify?

[2021-09-15 20:44] jonathanolson commented on #70
Should be made the default, can you verify master?

[2021-09-15 23:17] Nancy-Salpepi commented on #86
@jonathanolson this looks fixed on Master in the sim, mirror wrapper and studio wrapper

[2021-09-16 00:33] jonathanolson commented on #86
Thanks!

[2021-09-16 00:33] #86 closed

[2021-09-16 17:57] DianaTavares commented on #70
The screenshot problem is solved! it is super fast like any other sim

But I understand that a more general issue was identified by @KatieWoe when she run some tests (I am not sure that all this issue is just about the screenshot problem). @KatieWoe, can you verify that we can close this issue?

[2021-09-16 18:40] KatieWoe commented on #70
Things look good in master. Closing

[2021-09-16 18:40] #70 closed

[2021-09-16 19:52] Nancy-Salpepi commented on #87
Hi Jonathan
Everything resets as it should but the 1E block still flashes. I no longer see the scale flashing.

[2021-09-23 18:34] arouinfar commented on #85
Yes, that's correct @jonathanolson. This looks like https://github.com/phetsims/scenery/issues/1186, so this behavior is expected.

[2021-09-23 18:34] #85 closed

[2021-09-23 18:55] arouinfar commented on #93
@jonathanolson looks like the Density Accordion Box on the Intro screen was named `density.introScreen.view.densityReadoutAccordionBox` rather than `density.introScreen.view.densityAccordionBox`.  Other than that, things look good.

[2021-09-24 15:03] jonathanolson opened #100 "Context loss crash"
Seems like triggered from plugging in external monitor.

[2021-09-24 16:42] jonathanolson opened #101 "Mystery mass phet-io customization"
For just masses in the Mystery screen:

- I'd create a `densityProperty` that will adjust the material's density dynamically,
- Hook into massProperty/volumeProperty for external changes, adjust cube volume to match (with given unchanging density)

[2021-09-25 21:48] samreid commented on #87
I was able to reproduce the problem, but not familiar enough with the sim to make progress on my own.  I invited @jonathanolson on slack to schedule an appointment where I can be more helpful.  Unassigning for now.

[2021-09-29 16:54] jonathanolson commented on #87
Finally tracked down the 1E flash, can you verify that the above commit fixes it?

[2021-09-29 16:54] jonathanolson commented on #87
(Should be fixed in master)

[2021-09-29 17:17] Nancy-Salpepi commented on #87
@jonathanolson--the 1E block no longer flashes. Unfortunately, the 1A and 1B are now flashing.

I followed the same steps as before using my MacBook Air OS 11.6 + chrome:
1. In studio, select the Mystery Screen
2. Place the 1b and 1a blocks in the water
3. Press "Preview Sim"
4. Move some blocks around and then press "reset"  OR Just press "reset" without moving anything.

![1abblocksflashing](htt

[2021-09-29 17:21] Nancy-Salpepi commented on #87
Also, if I then add this step:
5. move to the Compare Screen and press the "reset" button

the yellow block flashes above the water

[2021-09-29 17:32] jonathanolson commented on #100
I've modified the handling for "context loss", so that:

1. Once it is lost, we'll show the standard dialog
2. It should now be restored (e.g. once the extended monitor is set up), and the dialog will go away.

So the dialog should only be visible while the sim is in a visually broken state.

@arouinfar can you try viewing master Density and doing the external-monitor change?

[2021-09-29 18:33] jonathanolson commented on #100
Unrelated, but I'm mildly amused that issue 100 in molecule-shapes AND density are both for context loss :)

[2021-09-29 20:02] jonathanolson commented on #87
Can you try master now with the above commits?

[2021-09-29 20:22] arouinfar commented on #100
@jonathanolson plugging in my external monitor doesn't seem to trigger the context loss any longer. The sim is undisturbed by plugging in the monitor. I'll keep an eye on this issue as I verify other issues, so leaving self-assigned.

[2021-09-29 20:39] Nancy-Salpepi commented on #87
The situation is much improved. I am no longer seeing the entire box flashing. Instead, there is just a small flash sometimes when reset is pressed. Note the flashing next to the 1c and 1e labels:

![flashingnextto1c](https://user-images.githubusercontent.com/87318828/135345017-6e443b73-2d77-49ce-8c39-8372bc9cd1b7.gif)

[2021-09-29 23:15] jonathanolson commented on #87
@DianaTavares let me know the severity of the above issue? It may take a while to solve.

[2021-09-29 23:24] jonathanolson commented on #93
Fixed above.

[2021-09-30 19:00] arouinfar commented on #100
@jonathanolson I think the issue happens for me when I'm in a Zoom meeting. Here's what happened to the sim in Studio when I plugged in my monitor just now:

![image](https://user-images.githubusercontent.com/8419308/135513526-8d95d15b-7678-4b4e-807d-1be80e4a2da6.png)

<details> <summary>There's a huge list of errors in my console</summary>

Uncaught Error: Assertion failed: value failed isValidVa

[2021-10-04 19:24] Nancy-Salpepi opened #102 "Placement of blocks inconsistent when switching between block modes"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
chrome

**Problem description**
On the intro screen, if you switch back and forth (without changing anything else) between 1 block and 2 blocks, the "B" block will appear under the "A" block the second time around. I don't think this affects UX, but I wanted to note the inconsistency.

**Steps to reproduce**
1. Select th

[2021-10-05 14:09] Nancy-Salpepi opened #103 "Sim on Master freezes due to assertion errors"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
chrome

**Problem description**
On the Intro Screen: The sim will freeze when the max volume is chosen and then the block material is changed to either "styrofoam" or "custom." The sim will also freeze when the minimum volume is chosen in some instances (see steps below).

This is similar to the problem discussed yesterd

[2021-10-05 17:10] Nancy-Salpepi commented on #103
I am still seeing the assertion errors with the "B" block as well.

Steps:
1. Select the Intro Screen
2. Select 2 blocks mode
3. In the combo box for block "B" select styrofoam (sim freezes)

[2021-10-05 21:20] Nancy-Salpepi opened #104 "Number Control Visible Properties are not maintained in Studio"
**Test device**
MacBook air (m1 chip)

**Operating System**
11.6

**Browser**
chrome

**Problem description**
In the Compare Screen, when the number control visible properties for mass, volume, or density are set to false in the Studio Wrapper, this state is not maintained once the sim is launched.

**Steps to reproduce**
1. In the Compare Screen, select "same density" in the blocks panel
2. Go to

[2021-10-14 06:58] #87 closed, assigned to arouinfar

[2021-10-14 07:25] arouinfar commented on #92
We spoke about this some at a recent design meeting. Due to the inter-connected nature of the variables, it's not particularly straightforward to set the mass/volume to the exact values in the display. I'll go ahead and close this one @jonathanolson.

[2021-10-14 07:25] #92 closed

[2021-10-14 07:28] arouinfar commented on #100
I haven't been able to reproduce this recently, so I'll go ahead and close.

[2021-10-14 07:28] #100 closed

[2021-10-14 07:29] arouinfar commented on #76
The PhET-iO design review has been completed and the remaining work is being tracked elsewhere, closing.

[2021-10-14 07:32] #90 closed

[2021-10-20 15:17] KatieWoe opened #105 "CT phetioID missing from the baseline that was not an archetype"
[code]

[2021-10-20 23:05] arouinfar opened #106 "PhET-iO design cleanup"
During #98 I discovered a few additional PhET-iO design issues to address

- [ ] For each screen, nest liquid-related model properties (liquidDensityProperty, liquidMaterialProperty, liquidViscosityProperty) under `model.pool`
- [ ] Make the following phetioReadOnly: true
  - [ ] `density.introScreen.view.blockAControlPanel.massNumberControl.titleNode.visibleProperty`
  - [ ]  `density.introScreen

[2021-10-21 19:43] arouinfar commented on #98
The design team reviewed the featured elements for the blocks and agreed that the list in https://github.com/phetsims/density/issues/98#issuecomment-948105565 looks good.

[2021-10-21 19:43] #98 closed

[2021-11-03 20:51] jonathanolson commented on #105
This last error seems to be happening in multitouch-only fuzzing situations. It's taken a good chunk of time to try to figure out, and I still don't have a good handle on it.

@arouinfar and @kathy-phet, I'm curious how much more time this is worth. I'd consider seeing if QA can reproduce the error with multitouch testing (it looks like Compare screen, messing with sliders will dragging masses MAY

[2021-11-03 21:09] arouinfar commented on #105
That sounds like a good approach @jonathanolson. If QA is unable to recreate the error, it's likely not a critical fix. And if QA is able to reproduce, we may have more information about how to actually address it.

[2021-11-03 21:22] KatieWoe commented on #105
I managed to reproduce this on Master.
1. Go to the first screen
2. Turn on the second block
3. Hold the second block with one finger
4. With the second finger, switch back to one block.
5. The second block sticks around and the errors pile up until you let go of the block. Sim seems to behave normally after.

[2021-11-03 23:02] jonathanolson commented on #105
I believe the above patch should fix that (and I'm now fuzzing without errors). Can you verify? (I don't have a multitouch device besides my phone, hard to evaluate errors).

[2021-11-04 15:35] KatieWoe commented on #105
Looks fixed on master

[2021-11-04 15:35] #105 closed

[2021-11-10 16:09] jonathanolson commented on #104
@arouinfar how should this be handled? Also the previewing of the sim isn't needed, just switch back and forth between different scenes/modes and it will make them visible again.

[2021-11-10 16:14] jonathanolson commented on #102
@arouinfar @DianaTavares thoughts on whether this is a problem? It's behaving as expected, we'd presumably change locations of blocks if we want something different.

[2021-11-10 16:30] Nancy-Salpepi commented on #103
I can't reproduce this anymore either @jonathanolson. Closing.

[2021-11-10 16:30] #103 closed

[2021-11-10 17:15] arouinfar commented on #102
@jonathanolson @DianaTavares I don't think this is a serious usability problem, though it is a bit annoying. If it's easy to do, we could change the default initial positions to something like this:
![image](https://user-images.githubusercontent.com/8419308/141160666-fc21dc05-bf29-4f06-a410-a6d04fec1a04.png)

[2021-11-10 17:41] arouinfar commented on #104
Really good catch @Nancy-Salpepi. I'm a bit embarrassed that this one slipped by me.

@jonathanolson there needs to be a way to hide the NumberControl without the model overriding its `visibleProperty` when switching between the different scenarios. Perhaps the approach used in https://github.com/phetsims/ph-scale/issues/102 (or one of the other issues that reference it) could serve as an example.

[2021-11-11 04:07] jonathanolson commented on #104
@arouinfar I'm curious, the example has a neutral indicator node that says it's visible when it's actually hidden from view. Is that acceptable?

I could use the same method here.

[2021-11-11 17:15] arouinfar commented on #104
Yes, I think so @jonathanolson. It's saying that it's visible when applicable. There have been a few different approaches to handle situations like this, though. Let's ask the other devs during phet-io meeting.

[2021-11-11 20:23] jonathanolson commented on #104
Sounds like I should discuss with @samreid and @zepumph on what approach to follow here (and we should document it as precedent).

[2021-11-12 04:55] samreid commented on #104
Did we cover this in phet-io meeting today?  If not, please reach out to me here or on slack.

[2021-11-12 20:58] DianaTavares commented on #102
I like @arouinfar  suggestion!

[2021-11-12 23:31] samreid commented on #104
@zepumph and @jonathanolson and I discussed this pattern and came up with a slightly different angle than in previous approaches.  We use a derived property gate in the same way as before, but then we placed the new controlling property in place of the now-uninstrumented `visibleProperty`.  This means the client will access the visible property in the same way, and it will work as expected regardl

[2021-11-13 00:23] jonathanolson commented on #104
Commits above with a more specific solution. I believe this should be handled.

[2021-11-15 14:53] Nancy-Salpepi commented on #104
Looks fixed in master @jonathanolson

[2021-11-15 17:25] jonathanolson commented on #102
That looks like an equilibrium position for the wooden block (we should compute that and precisely place it?) and then the 2nd block looks like it starts on the floor of the pool?

[2021-11-15 17:35] arouinfar commented on #102
@jonathanolson the screenshot was used to illustrate an x-coordinate of where the block would appear. It can still bounce/sink as it drops into the pool.

[2021-11-16 20:05] jonathanolson commented on #102
@arouinfar and @DianaTavares  how does the above change look?

[2021-11-16 20:19] markgammon opened #107 "Density"

[2021-11-16 21:38] arouinfar commented on #102
Looks great, thanks @jonathanolson!

[2021-11-16 21:40] DianaTavares commented on #102
I like it!

[2021-11-16 21:40] #102 closed

[2021-11-16 23:34] markgammon opened #108 "Density - Publish 1.1 with PhET-iO Upgrades"
As part of the "batch release" milestone https://github.com/orgs/phetsims/projects/44, publish Density, for brands=phet,phet-io.

[2021-11-16 23:48] #107 closed

[2021-11-17 15:15] Nancy-Salpepi commented on #104
Looks good in the dev version as well.

[2021-11-17 15:15] #104 closed

[2021-11-17 16:46] Nancy-Salpepi opened #109 "Mass/volume for blocks not always maintained in Studio/State"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari15

**Problem description**
For https://github.com/phetsims/qa/issues/738

For the Studio wrapper, in the 2 Blocks Scene on the Intro Screen:
If styrofoam is chosen as the material for Block B and the mass/volume are at any values except MAX values, those values are not maintained once the sim is launched. In thi

[2021-11-17 18:10] Nancy-Salpepi opened #110 "Block movement limited in Studio when Block visible property set to false"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari15

**Problem description**
For https://github.com/phetsims/qa/issues/738, in Studio:

In the Intro screen, when the visible property for Block A and Block B is set to false, the area where the blocks can move becomes limited to half the screen. Block material did not seem to be a factor with this issue.

**Steps

[2021-11-17 21:14] Nancy-Salpepi opened #111 "'Same Volume' not working properly in State wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari15

**Problem description**
For https://github.com/phetsims/qa/issues/738, in the State wrapper:

In the Compare Screen there seems to be a few issues with the  'same volume' property. If it is selected and the volume is changed using the slider, the masses change in the downstream sim and the color intensity of

[2021-11-17 21:38] Nancy-Salpepi commented on #109
Something similar is also seen in the State wrapper.

Steps to Reproduce:
1. In the State wrapper select the Intro screen
2. Set state rate = 0
3. Select 2 blocks
4. Change the material for block B to styrofoam
5. Decrease volume to 1 liter
6. Press 'Set State Now'
<img width="484" alt="Screen Shot 2021-11-17 at 4 26 17 PM" src="https://user-images.githubusercontent.com/87318828/142286216-cf7e02b2

[2021-11-18 13:20] Nancy-Salpepi commented on #111
In the Studio Wrapper, with 'same volume' selected the masses are not maintained once the sim is launched. I don't see the "jumping" that I witnessed in State wrapper.
<img width="764" alt="Screen Shot 2021-11-18 at 8 18 58 AM" src="https://user-images.githubusercontent.com/87318828/142422741-10ba1b66-0094-4bac-8fc5-d24a3e357413.png">

[2021-11-18 13:51] Nancy-Salpepi opened #112 "Block visible property not maintained in Studio"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari15

**Problem description**
For https://github.com/phetsims/qa/issues/738 in Studio Wrapper:

On the Mystery Screen, a block will reappear when its visible property is set to false. This happens with all Sets.

**Steps to reproduce**
Here is one example:
1. In the Studio wrapper go to the mystery screen
2. Go to

[2021-11-18 15:59] jonathanolson commented on #112
@arouinfar thoughts on how this should work? This is how modes control what blocks are showing up (it changed from being created dynamically, because we needed the blocks to always exist for phet-io).

[2021-11-18 17:09] arouinfar commented on #112
Nice catch @Nancy-Salpepi!

@jonathanolson this looks analogous to https://github.com/phetsims/density/issues/104. There needs to be a way to hide individual blocks that isn't overridden by the model when switching between the radio button options.

[2021-11-18 18:36] jonathanolson commented on #112
@arouinfar I'd need more information about how this should work... it seems like there are three settings for some override:

1. Default (let the sim decide whether it's visible)
2. Force visible (block is there even if it would be otherwise hidden)
3. Force invisible (block is hidden even if it would be otherwise there).

Should this be discussed at phet-io meeting?

[2021-11-18 18:52] arouinfar commented on #112
@jonathanolson a block should only be visible if the appropriate radio button option is selected and the block's visibleProperty is true.

For example, Bock 1A is visible if the value of `density.mysteryScreen.model.blockSets.blockSetProperty` is SET_1 and `density.mysteryScreen.model.blockSets.set1.block1A.visibleProperty` is true. If the user sets `block1A.visibleProperty` to false, it would not

[2021-11-18 19:55] Nancy-Salpepi opened #113 "Should teachers be able to set Density Readout visible property to false?"
For https://github.com/phetsims/qa/issues/738

For the Intro screen, I thought that teachers might want to have students calculate density on their own sometimes, but there is currently no way to uncheck the checkbox.
<img width="670" alt="Screen Shot 2021-11-18 at 2 47 58 PM" src="https://user-images.githubusercontent.com/87318828/142487267-7be5c82d-fafa-40f8-92f2-e290be2ffe3f.png">

[2021-11-18 20:22] arouinfar commented on #113
Thanks @Nancy-Salpepi. It sounds like you'd like to hide the red/blue dynamic text that labels the density of the red/blue blocks along this scale. I don't think these values are instrumented individually, and the `densityReadout` is the entire contents of the `densityAccordionBox`.
![image](https://user-images.githubusercontent.com/8419308/142489894-c1246404-b55f-4593-b88b-ca09273262f9.png)

If u

[2021-11-18 20:39] Nancy-Salpepi commented on #113
You definitely interpreted by request correctly @arouinfar. Thanks for the clarification.

[2021-11-18 20:39] #113 closed

[2021-11-19 21:19] KatieWoe opened #114 "Switching between preset materials leads to incorrect mass and/or volume"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/738. On the first screen, switching between the different materials (both for block a and block b) leads to the mass and volume listed on the sliders and the mass and volume shown in the play area to be different. Changing the sliders seems to fix this. Different ma

[2021-11-19 21:48] KatieWoe commented on #114
Here is a more dramatic example:
![moredramatic](https://user-images.githubusercontent.com/41024075/142695563-3c749a83-8bc0-4183-b3d9-18062f227829.gif)

[2021-11-19 22:31] stemilymill opened #115 "White bar in full screen mode in firefox"
For https://github.com/phetsims/qa/issues/738.

Dell laptop Win10 Firefox 94.0.1
I only see this in Firefox.

When I click Full Screen in the PhET menu, this white bar appears at the bottom of the screen above the navbar. The only way this doesn't happen is to clear the cache, refresh page, go to Intro screen, then enter full screen.
If I clear cache, refresh page, go to Compare or Mystery screen

[2021-11-19 23:32] jonathanolson commented on #112
Implemented discussed changes above. Added the main modeProperty to the first screen, and swapped the visibleProperty so there's a hidden internal one AND a studio-visible one.

@arouinfar can you try it out?

[2021-11-22 21:25] Nancy-Salpepi opened #116 "Performance issues with multiple PhET-iO wrappers on iPad"
**Test device**
iPad Air 2
**Operating System**
15.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/738

I'm seeing artifacts in many of the wrappers (ex-Multi, State, Data:text area, Screenshot) for the Intro and Compare Screens.

**Steps to reproduce**
Ex from the State wrapper:
1. Go to the Intro Screen
2. Drag Block A around in the pool.

**Visuals**
State w

[2021-11-23 13:54] Nancy-Salpepi opened #117 "Block position changes when switching to full screen mode"
**Test device**
MacBook Air (M1 Chip)
**Operating System**
12.0.1

**Browser**
Chrome and Safari

Also seen on Chromebook

**Problem description**
For https://github.com/phetsims/qa/issues/738

On the Mystery Screen, blocks placed on or near the scale will end up in the pool when 'Full Screen' is selected in the PhET menu.

**Steps to reproduce**
Here is an example:
1. In the Mystery Screen. Place

[2021-11-23 13:58] Nancy-Salpepi commented on #117
If blocks are placed all the way on the right side, they will also end up in the pool once 'Full Screen' is selected.
This also occurs on the 'Compare Screen' as well.

[2021-11-23 16:57] KatieWoe commented on #83
Not sure if this is related:
[code]

[2021-11-23 19:57] KatieWoe commented on #117
On firefox, leaving full screen leaves the sim oddly zoomed in until screens are changed.
<img width="959" alt="switchout" src="https://user-images.githubusercontent.com/41024075/143094774-e4bee44e-629e-4396-9fed-2bdb4b60ec35.png">

[2021-11-23 20:35] KatieWoe opened #118 "State wrapper may have trouble updating"
For https://github.com/phetsims/qa/issues/738. Seen on Win 11 Firefox in the State Wrapper. I have been unable to reproduce so far after refreshing the page.
The state wrapper stopped updating the state of the bottom sim consistently, and hitting the set state button didn't work. Things that would not update included the state of the second block and changing screens. I will update this issue if I

[2021-11-23 20:50] KatieWoe commented on #118
After finishing the issue, I came back to the state wrapper to see this bug had returned. It may have something to do with the time spent on the page. This bug was appearing in the console.
<img width="960" alt="time" src="https://user-images.githubusercontent.com/41024075/143114019-6fdc744f-0558-4622-94f3-2be89356ee07.png">

[2021-11-23 21:08] Nancy-Salpepi commented on #117
Using MacBook + Chrome and on the Chromebook, this is what happens in the stand alone sim wrapper:
![standalone](https://user-images.githubusercontent.com/87318828/143127357-c83b482f-d278-446e-90b1-643a921ea90d.gif)

[2021-11-24 03:26] arouinfar commented on #112
@jonathanolson the block visibility is behaving great in master. The only thing that looks a bit strange to me is the `modeProperty`. I thought the goal of introducing this property was to have it power the blocks RadioButtonGroup rather than using the `visibleProperty` of the 2nd block.

Changing the value of `modeProperty` in the Studio interface will change the state of the blocks RadioButtonGr

[2021-12-02 19:25] jonathanolson commented on #114
Can you verify that this is fixed in master after the above commits?

[2021-12-02 19:52] KatieWoe commented on #114
This looks good in master

[2021-12-02 20:21] jonathanolson commented on #115
Should be fixed in master above, can you verify?

[2021-12-02 20:27] jonathanolson commented on #111
I believe the above commit handles this, can you verify?

[2021-12-02 21:12] jonathanolson commented on #109
I believe this was fixed up, can you verify?

[2021-12-02 21:14] jonathanolson commented on #112
@arouinfar this was definitely buggy before. I believe it's fixed up in master now, can you verify?

[2021-12-02 21:14] jonathanolson commented on #114
Thanks!

[2021-12-02 21:14] #114 closed

[2021-12-02 21:32] jonathanolson commented on #83
I'm not seeing this continue, and I can't reproduce. Thoughts? Good to close?

[2021-12-02 22:13] Nancy-Salpepi commented on #111
@jonathanolson looks good in Studio and State on master.

[2021-12-02 22:39] Nancy-Salpepi opened #119 "Reset All in Studio/State keeps 2 blocks button selected"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
chrome

**Problem description**
In State on master, while verifying https://github.com/phetsims/density/issues/109, I noticed that when pressing the reset button, block B and the block B panel disappear in the upstream sim, but the 2 blocks button is still selected. The downstream sim still shows 2 blocks. The same thi

[2021-12-02 23:14] oliver-phet opened #120 "User request: vertical rulers"

[2021-12-02 23:14] Nancy-Salpepi opened #121 "Choosing 'custom' freezes the sim in master"
**Test device**
MacBook air (m1 chip)

**Operating System**
12.0.1

**Browser**
chrome

**Problem description**
While verifying https://github.com/phetsims/density/issues/109 on master, I noticed that the sim freezes in the studio and state wrappers when 'custom' is selected.

**Steps to reproduce**
1. Go to either wrapper
2. On the intro screen select 2 blocks
3. Select 'custom' for block B --sim

[2021-12-02 23:17] Nancy-Salpepi commented on #109
@jonathanolson this issue looks fixed on master in studio and state wrappers. However, I am seeing a couple of other issues now on this screen in particular. See https://github.com/phetsims/density/issues/121 and https://github.com/phetsims/density/issues/119

[2021-12-02 23:29] KatieWoe commented on #83
We can close. If I see it again I'll reopen.

[2021-12-02 23:29] #83 closed

[2021-12-06 16:31] stemilymill commented on #115
Looks fixed to me 👍

[2021-12-07 17:35] jonathanolson commented on #119
I believe this should be fixed with the above commit, can you verify?

[2021-12-07 17:38] jonathanolson commented on #121
I believe this should be fixed with the above commit.

[2021-12-07 17:47] jonathanolson commented on #110
Very nice catch! I believe I've fixed this with the above commit.

[2021-12-07 18:23] jonathanolson commented on #117
It looks like this is instantly affecting the aspect ratio, thus instantly moving the invisible barrier and the scale to the right (expectedly applying a force and propelling the blocks).

@arouinfar or @DianaTavares thoughts on alternative behavior?

[2021-12-07 18:27] Nancy-Salpepi commented on #119
This looks good on master now.

[2021-12-07 18:33] Nancy-Salpepi commented on #121
This is also fixed on master :)

[2021-12-07 18:35] jonathanolson commented on #119
Thanks!

[2021-12-07 18:35] #119 closed

[2021-12-07 18:35] jonathanolson commented on #121
Thanks!

[2021-12-07 18:35] #121 closed

[2021-12-07 18:37] jonathanolson commented on #118
The stack trace seems similar to a bug I fixed earlier. I'm curious if this can happen again (or if it does happen, digging into the state of the sim).

[2021-12-07 18:38] Nancy-Salpepi commented on #110
Thanks @jonathanolson! It was very bizarre to see. haha.
It looks good on master now.

[2021-12-07 18:45] jonathanolson commented on #110
Thanks! (Code was using the control panel locations to set the invisible barrier, seems like assertions fired but the runtime sets it to 0 - i.e. the center)

[2021-12-07 18:45] #110 closed

[2021-12-07 18:46] jonathanolson commented on #109
Those other issues are closed. Is there anything else left here?

[2021-12-07 18:49] jonathanolson commented on #111
Thanks!

[2021-12-07 18:49] #111 closed

[2021-12-07 18:57] KatieWoe commented on #118
I left the state wrapper to sit for a few minutes on Win 11 Firefox on master and this issue didn't seem appear. If this was the way to reproduce it looks like it might be fixed.

[2021-12-07 19:07] jonathanolson commented on #116
@arouinfar I'm interested in how much should be done for this... this seems like a browser-specific issue, and I don't have a great way of resolving it offhand.

[2021-12-07 19:13] jonathanolson commented on #109
Thanks!

[2021-12-07 19:13] #109 closed

[2021-12-07 19:16] jonathanolson commented on #118
Perhaps let's see if it occurs in the next round of testing?

[2021-12-07 20:39] KatieWoe opened #122 "CT value failed isValidValue"
[code]

[2021-12-07 22:25] arouinfar commented on #116
@jonathanolson agreed. The artifacts are a bit unsightly, but I don't think it affects sim usability. I'm also not sure that this is a bug that would manifest for end-users of a PhET-iO product. I'll close as wontfix.

[2021-12-07 22:25] #116 closed

[2021-12-07 22:26] arouinfar commented on #112
Thanks @jonathanolson the `modeProperty` is now behaving as expected in Studio. Back to you to decide if this should be closed or verified in the next QA cycle.

[2021-12-07 22:30] arouinfar commented on #117
@jonathanolson could the problem be that we allow the scale to float outside of the dev bounds? Would fixing its position within dev bounds alleviate this issue?

[2021-12-08 03:21] jonathanolson commented on #112
Thanks! Closing.

[2021-12-08 03:21] #112 closed

[2021-12-08 03:22] jonathanolson commented on #117
They are on top of the scale, so probably not. Additionally we run into problems when we don't move the scale (since blocks could get sandwiched).

Constraining blocks to within the dev bounds would fix this (however that sounds not ideal?)

[2021-12-08 03:30] jonathanolson commented on #122
I haven't been able to reproduce. This looks like it might be in a range that's fixed, but I'm not sure. I'll leave open for now.

[2021-12-10 17:41] KatieWoe commented on #122
Ran for several minutes in dev.20 in debug version with `?fuzz`. Did not see. Will leave open just in case.

[2021-12-10 17:49] KatieWoe commented on #118
Looks fixed in dev.20

[2021-12-10 17:49] #118 closed

[2021-12-10 17:57] KatieWoe commented on #115
Looks good in dev.20 on Win 11 (showed up on that platform as well)

[2021-12-10 17:57] #115 closed

[2021-12-10 17:58] KatieWoe commented on #117
https://github.com/phetsims/density/issues/117#issuecomment-977099489 looks fixed in dev.20

[2021-12-10 18:11] KatieWoe commented on #117
Movements of blocks when full screen is turned or window size changes still occurs. This was discussed in design meeting on 12/9/21, but I'm not sure where the decisions were recorded. Here is what it looks like in dev.20
![stillmoving](https://user-images.githubusercontent.com/41024075/145621665-61553700-35ab-47d4-a08a-a60cc660a8cb.gif)

[2021-12-10 18:16] Nancy-Salpepi commented on #117
@KatieWoe I think what was decided at the meeting yesterday was.. as long as the reset button was still visible, that was OK. @arouinfar said she was going to add to teacher tips.

[2021-12-10 19:32] Nancy-Salpepi commented on #117
On Mac + safari/chrome, the reset button is always visible when resizing window and when moving to/from full screen mode.

[2021-12-13 21:44] markgammon opened #123 "Density - Publish 1.0 with PhET-iO"
Publish Density simulation with both PhET and PhET-iO brands.

- [ ] https://github.com/phetsims/density/issues/1
- [ ] https://github.com/phetsims/density/issues/76

[2021-12-14 00:15] Nancy-Salpepi commented on #46
**Test device**
MacBook Air (and Chromebook)

**Operating System**
12.0.1

**Browser**
chrome and safari

**Problem description**
For https://github.com/phetsims/qa/issues/751

In the intro screen, it looks odd that the User can't reach the minimum mass for styrofoam using the slider. Instead, the left arrow or the volume slider must be used. This doesn't happen with any other material.

**Steps t

[2021-12-14 08:53] DianaTavares commented on #120
Students can predict the fraction of an object that is submerged as the way the simulation is in this moment by using the pool level indicators.

Using a ruler to measure this is risky because they are using a 1D measure (high) to compare  3D measures (volume).  Then this comparison only works with cubes, and I don't think that students can do this relationship of "comparing highs only work with c

[2021-12-14 17:51] Nancy-Salpepi opened #124 "Minor flashing when accessing screen for the first time"
**Test device**
MacBook Air
Also seen on Chromebook and iPad

**Operating System**
12.0.1

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/751

In the studio wrapper, when accessing a screen for the first time, the sky briefly flashes black and on the Mystery Screen, a second scale will flash to the right of the first one. The flashing is more sever

[2021-12-14 23:29] oliver-phet commented on #120
Replied to user.

[2021-12-15 17:13] kathy-phet commented on #124
I am observing this flashing of the brief black background in the sky on the base PhET version of the simulation - doesn't need to be in an iFrame or a wrapper. As Nancy noted, its only flashing the very first time a screen is visited.

I am on Windows and running in Chrome.

[2021-12-15 17:21] Nancy-Salpepi commented on #124
I should have gone back and checked that @kathy-phet. On Mac + chrome/safari, I am also seeing the flashing of both the black sky and the scale on the Mystery Screen in the regular sim.

[2021-12-15 18:41] markgammon commented on #117
@KatieWoe in your screencast above, is the sim's menu bar at the bottom actually getting cut off, or is that just how the screencast is cropped? Want to confirm that going full-screen is not impacting access to the menu/navigation.

[2021-12-15 20:13] KatieWoe commented on #117
The bottom is not actually being cut off. The window I was using to record didn't catch the new size. Sorry about that.

[2021-12-15 21:38] markgammon commented on #80
The associated issue above has been marked as wont-fix. Closing this.

[2021-12-15 21:38] #80 closed

[2021-12-15 22:01] kathy-phet commented on #46
@jonathanolson - Can you make this slider for Styrofoam mass behave like the "Ice" slider? Where it will snap to 0.1 values, but then also still reach the minimum and maximum values allowed? Ice can be directly dragged down to reach 0.92 (so a non-snappy value).

[2021-12-16 22:11] DianaTavares commented on #120
I think that this suggestion can be useful as another way to approach a volume in the sim.
Now, the user can measure volume by sinking the block in the water, but I remember some teachers sharing that would like also to have the traditional way of measuring/calculating volume (measuring sides of the block and using the volume formula). This is not fully possible in the sim because one of the dimen

[2021-12-17 22:10] arouinfar opened #125 "Labels on mystery blocks need larger maxWidth"
@jonathanolson one of the client requests is to be able to change the label on the blocks in the Mystery Screen. Currently, that's possible using the block's `nameProperty`, such as `density.mysteryScreen.model.blockSets.random.blockA.nameProperty`.

However, the labels are super small, and can really only accommodate 2-3 characters without hitting the maxWidth and becoming unreadable. I don't thi

[2021-12-17 22:38] arouinfar opened #126 "Updates to phetioDocumentation"
In #99 I discovered that there were a few properties that would benefit from phetioDocumentation.

@jonathanolson here is the suggested text, please feel free to edit as necessary.

- [x] `comboBoxMaterialProperty`: Current material of the block. Changing the material will result in changes to the mass, but the volume will remain the same.
- [x] `materialEnumProperty`: Current material of the bloc

[2021-12-18 03:45] arouinfar commented on #99
I added and edited the client guides in the above commits. @jonathanolson I am a bit unsure of the wording in this request https://github.com/phetsims/phet-io-client-guides/blob/master/density/client-requests.md#set-the-initial-position-and-properties-of-the-blocks. Can you please review the language?

[2021-12-21 23:24] jonathanolson commented on #126
Implemented, can you verify?

[2021-12-21 23:52] jonathanolson commented on #125
Implemented above (needed some WebGL reworking for the mobius code). Can you verify? A maxWidth still applies.

[2021-12-22 00:28] arouinfar commented on #125
Looks good in master, thanks @jonathanolson.

![image](https://user-images.githubusercontent.com/8419308/147014779-e2f4abd9-3a7c-4892-833f-36f2cb62ab49.png)

[2021-12-22 00:28] #125 closed

[2021-12-22 00:33] arouinfar commented on #126
@jonathanolson looks pretty good. I wrote the phetioDocumentation with the blocks in mind, but forgot about `scale.massProperty` and `scale.volumeProperty`. Would it be possible to remove the phetioDocumentation for the scale? Since the scale isn't adjustable, I think the phetioID provides a sufficient enough description of these properties.

[2021-12-22 03:55] jonathanolson commented on #126
I believe that should be handled above, can you verify?

[2021-12-22 15:49] Nancy-Salpepi commented on #46
@jonathanolson --Should the maximum mass for ice be changed to 9.20 instead of 9.19?

[2021-12-22 16:17] jonathanolson commented on #99
Looks good to me!

[2021-12-22 16:44] arouinfar commented on #99
Thanks for the review @jonathanolson. Closing.

[2021-12-22 16:44] #99 closed

[2021-12-22 16:47] jonathanolson commented on #46
Implemented above, there was some weirdness in the snapping (it was snapping BEFORE the range constraints, and styrofoam's min was too low).

[2021-12-22 16:48] arouinfar commented on #126
Looks good, thanks @jonathanolson!

[2021-12-22 16:48] #126 closed

[2021-12-22 16:48] jonathanolson commented on #46
This would mean changing the density of ice (since it's based on that).

[2021-12-22 16:48] jonathanolson commented on #46
@arouinfar anything else to do here?

[2021-12-22 17:27] arouinfar commented on #124
I see a VERY brief flash of black when accessing a screen for the first time. I don't think I would have noticed it without looking for it.

Steps to reproduce
1. Open sim and select any screen from home screen.
2. Use navbar icons to visit the other 2 screens and the sky will briefly flash black.

@kathy-phet @jonathanolson I don't think this should block the RC and I would consider closing it as

[2021-12-22 17:42] arouinfar commented on #46
@jonathanolson looks good in master. Back to you to either close or verify in the RC.

[2021-12-22 17:43] arouinfar commented on #124
@kathy-phet said on Slack:

[2021-12-23 17:21] #46 closed

[2021-12-24 01:02] Nancy-Salpepi commented on #124
For https://github.com/phetsims/qa/issues/758 using MacOS 12.0.1 + safari15, I am also seeing other objects briefly flash when using the initialScreen query parameter.
For example, the wooden block A will briefly flash using initialScreen=1.

Steps to Reproduce:
1. Add ?initialScreen=1 to the end of the Studio wrapper url
2. Change the material of block A to anything but wood

My video is a more d

[2021-12-28 13:37] Nancy-Salpepi commented on #87
Hi @jonathanolson and @arouinfar. I know it was decided to close this issue and leave the slight flickering seen in https://github.com/phetsims/density/issues/87#issuecomment-930526195 as won't fix.
I just wanted to let you know that this flickering is also seen in the Input Record and Playback wrapper and Record/Playback wrappers as well. I didn't know if what I am seeing is severe enough to reop

[2022-01-03 16:40] Nancy-Salpepi opened #127 "Block position doesn't reset with multitouch"
**Test device**
iPad Air 2

**Operating System**
15.2

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/758

If I am holding a block with one finger while pressing the Reset All Button with another, the block position doesn't reset. This occurs on all screens and also occurs with the Random Blocks Reset Button on the Mystery Screen.

**Steps to reproduce**
1. O

[2022-01-03 19:43] jonathanolson commented on #127
I believe the above patch will work, but I have no way currently of testing multitouch. @Nancy-Salpepi can you verify in master? I've already patched the release branch for it.

[2022-01-03 19:58] Nancy-Salpepi commented on #127
Hi @jonathanolson
It still looks the same on Master (I used a private window, cleared my history and hit "pull all").

[2022-01-03 20:53] jonathanolson commented on #127
Ok, thanks! I'll look at using my phone for testing.

[2022-01-03 23:27] arouinfar opened #128 "Include `?autoselectSupported` in phet-io-guide.md"
For https://github.com/phetsims/qa/issues/758

The autoselect feature in Studio is available with `?autoselectSupported` in the release branch. The feature is still under development in https://github.com/phetsims/studio/issues/243, but I think it would be useful for clients in its current state. Sharing it with clients may also generate some useful feedback.

@kathy-phet should we add `?autoselec

[2022-01-03 23:45] kathy-phet commented on #128
Hi Amy, I think yes we should include it.

Overall, I like the wording, but would modify slightly to address checking the checkbox versus using the alt/option key mode ....
The autoselect feature is still under development, but available as a prototype. When query parameter ?autoselectSupported is used, the feature can be turned on in continuous mode (by checking the checkbox) or in as-needed (by

[2022-01-04 00:02] arouinfar commented on #128
Thanks @kathy-phet! I made a few minor tweaks to your description and committed it to master.

@jonathanolson this commit will need to be cherry-picked into the release branch.

[2022-01-04 00:07] arouinfar opened #129 "Create LoL icons/descriptions"
For #1

This sim will need icons and descriptions before delivering to Legends of Learning. Self-assigning.

Note that delivery to LoL occurs post-publication, so this issue isn't blocking.

[2022-01-04 16:32] Nancy-Salpepi opened #130 "Memory Leak"
For https://github.com/phetsims/qa/issues/758

@jonathanolson here are the results of the memory tests. I was not able to record data after the tenth heap snapshot--either the console would close automatically or error messages would appear in the console.( I tried more than once, but always got the same results.)

Density PhET Brand:
<img width="463" alt="Screen Shot 2022-01-03 at 7 29 07 PM" src

[2022-01-05 01:01] jonathanolson commented on #130
I believe this should be fixed on master and the release branch, can you verify on master?

[2022-01-05 14:29] Nancy-Salpepi commented on #130
Looks good on Master @jonathanolson

PhET brand:
<img width="467" alt="Screen Shot 2022-01-05 at 8 43 41 AM" src="https://user-images.githubusercontent.com/87318828/148234150-d8be18ee-8df8-4933-911e-52581a428bd5.png">

PhET-iO brand:
<img width="467" alt="Screen Shot 2022-01-05 at 9 28 27 AM" src="https://user-images.githubusercontent.com/87318828/148234206-8f7b45fb-b299-4c43-a9da-957a5a1afcbb.png

[2022-01-06 00:55] jonathanolson commented on #128
Patched into the release branch.

[2022-01-06 01:18] jonathanolson commented on #127
Identified the problem, tested with my phone and looks fixed. @Nancy-Salpepi can you verify on master? It's also patched in release branch.

[2022-01-06 02:04] jonathanolson commented on #124
I don't see an easy way to fix this (haven't identified the cause yet, but would be time-intensive).

[2022-01-06 03:28] arouinfar commented on #128
Thanks @jonathanolson. I don't have a way to verify until the next RC is published, so back to you to tag for verification in the RC issue.

[2022-01-06 03:42] arouinfar commented on #124
I am able to reproduce this easily in macOS 12.0.1 in both Chrome and Safari following the steps in https://github.com/phetsims/density/issues/124#issuecomment-1000591627. However, it appears to be a general issue with `initialScreen` because I was able to reproduce it in ph-scale. The time scale of the flicker was a bit longer in density than in ph-scale, but given that it's a common issue and @j

[2022-01-06 03:55] arouinfar commented on #117
@jonathanolson I think the changes made in https://github.com/phetsims/density-buoyancy-common/issues/67 have addressed this issue. Switching to full screen may shift the scale/blocks but I am unable to recreate the zoomed-in effect or lose any of the UI elements. I recommend having QA review this issue in the next RC cycle.

[2022-01-06 13:21] Nancy-Salpepi commented on #127
Looks good @jonathanolson!

[2022-01-06 16:24] kathy-phet commented on #124
@samreid @zepumph - will this be fixed with your longer splash screen approach? is the longer splash screen ready to be in production code?

[2022-01-06 18:49] zepumph commented on #124
Yes, this is the exact problem that the splash screen issue in https://github.com/phetsims/phet-io/issues/1835

[2022-01-06 18:55] samreid commented on #124
This new symptom shows after the sim has fully started up, and when screens change, right?  I'm not sure how it could be caused by https://github.com/phetsims/phet-io/issues/1835

[2022-01-06 19:08] zepumph commented on #124
Ahh I see that. Sorry I was wrong.

[2022-01-06 19:15] kathy-phet commented on #124
I was talking about the latest update from @Nancy-Salpepi in this comment:
https://github.com/phetsims/density/issues/124#issuecomment-1000591627

[2022-01-06 19:40] zepumph commented on #124
Yes that's right.

[2022-01-07 19:27] Nancy-Salpepi commented on #127
Looks good in RC.3!

[2022-01-07 19:27] #127 closed

[2022-01-07 20:37] KatieWoe commented on #130
Memory test for rc.3 was done here: https://github.com/phetsims/qa/issues/759#issuecomment-1007724368.
Looks good, closing.

[2022-01-07 20:37] #130 closed

[2022-01-07 21:21] Nancy-Salpepi commented on #117
Forhttps://github.com/phetsims/qa/issues/759:
With Mac + safari/chrome:  When screen aspect ratio is changed, I can still access all of the blocks in the PhET brand sim, PhET-iO standalone and when launching the sim in Studio. I also still have access to all UI components.

Since the blocks still shift locations when changing the screen size, I wasn't sure if I should close this issue. @kathy-phet

[2022-01-07 21:57] KatieWoe commented on #117
Things seem ok on Win 11 Firefox as well.

[2022-01-07 22:17] arouinfar commented on #117
Thanks @Nancy-Salpepi @KatieWoe. Since we aren't losing access to blocks or other UI elements, I think we can go ahead and close.

[2022-01-07 22:36] KatieWoe commented on #117
Reopening as I found a way, at least on Win 11 Chrome, to lose blocks by changing the window size. The window needs to be fairly short and long, and then returned to a taller window fairly quickly with a block outside the new window's frame. This is a bit extreme, but easy enough to do with a short enough window.
![rediculous](https://user-images.githubusercontent.com/41024075/148616151-4809b028-9

[2022-01-07 22:39] jonathanolson commented on #117
That may perhaps be related to https://github.com/phetsims/density-buoyancy-common/issues/67, I'm curious what aspect ratios we want to support. There may be some downsides to increasing the "size" of the barrier (which I think would probably solve this)

[2022-01-07 22:46] KatieWoe commented on #122
Ran for several minutes in the rc.3 debug version with `?fuzz`. Closing

[2022-01-07 22:46] #122 closed

[2022-01-07 22:51] arouinfar commented on #117
This looks like a really extreme aspect ratio. I am fine with marking this as wontfix, so long as the blocks return on reset all.

@KatieWoe can you confirm that blocks are returned on reset all? Also, have you been able to reproduce this without using extreme aspect ratios?

[2022-01-07 22:53] KatieWoe commented on #117
They are returned on reset all. I've reproduced it with less extreme aspect ratios, but all that I saw were still what I would consider unusual. I'm not sure what the boundary between it happening and not is.

[2022-01-07 23:07] arouinfar commented on #117
Thanks @KatieWoe. My inclination is to close as wontfix, but add a statement to the Teacher Tips.

@DianaTavares please add this to the Model Simplifications section:

* Sudden changes in the aspect ratio of the simulation can result in blocks being shifted around. In extreme situations, it is possible for blocks to be lost off-screen, but they can be restored with the Reset All button.

[2022-01-08 13:55] Nancy-Salpepi commented on #128
?autoselectSupported has been added to the PhET-iO guide.
I gave it a spin with Mac + chrome/safari and I love this feature!

[2022-01-08 13:55] #128 closed

[2022-01-11 19:38] arouinfar opened #131 "Sim screenshots"
@DianaTavares please suggest some screenshots (1 main, 3 alternates), and I can take them at the correct resolution and commit them. If you don't have a preference, let me know, and I can create some scenarios.

[2022-01-11 19:41] arouinfar commented on #31
It doesn't look like the QA credits were confirmed in RC. @KatieWoe does this look correct?

![image](https://user-images.githubusercontent.com/8419308/149010132-3d49b785-3ac2-4e60-b9c3-9cf3d629c2bd.png)

[2022-01-11 19:42] KatieWoe commented on #31
Yes, that is correct. I messaged them to JO

[2022-01-11 19:52] DianaTavares commented on #117
Done!

[2022-01-11 19:52] #117 closed

[2022-01-11 19:56] arouinfar commented on #31
Thanks @KatieWoe. I see a few other testers opened issues in https://github.com/phetsims/qa/issues/507, but weren't credited. (To be fair, it's a really old dev test.)

@jonathanolson I recommend you add Jacob Romero, Logan Bray, Liam Mulhall, and Steele Dalton to the QA credits.

[2022-01-11 20:51] jonathanolson commented on #31
Committed to master and 1.0. @arouinfar does the change above look correct?

[2022-01-12 00:02] arouinfar commented on #131
@jonathanolson the screenshots are ready, but I can't commit them since there isn't an assets directory, so back to you.

[density-screenshot.png](https://user-images.githubusercontent.com/8419308/149040315-53de9a73-32c5-4b39-9a35-d775343f3a43.png)
[density-screenshot-alt1.png](https://user-images.githubusercontent.com/8419308/149040316-367ad88d-848b-486f-8c95-ebb15b8475d9.png)
[density-screenshot

[2022-01-12 00:07] arouinfar commented on #31
@jonathanolson the names all look correct, but the convention is to alphabetize them. Sorry I didn't catch that earlier.

The correct order would be:
Logan Bray, Steele Dalton, Brooklyn Lash, Emily Miller, Liam Mulhall, Devon Quispe, Jacob Romero, Nancy Salpepi, Katie Woessner

Not sure if it's better to revert and re-commit or just make another commit, so I'll leave it up to @jonathanolson to fix

[2022-01-12 16:15] jonathanolson commented on #31
Credits fixed up above, can you verify?

[2022-01-12 16:29] arouinfar commented on #31
Looks good!

[2022-01-13 16:33] arouinfar commented on #131
@jonathanolson looks like I can commit the assets directory containing the screenshots from the GitHub interface, so I'll go ahead and take care of the commits.

[2022-01-13 16:36] arouinfar commented on #131
@jonathanolson I added the assets directory and sim screenshots to master and 1.0 in the above commits.

[2022-01-26 15:42] jonathanolson commented on #9
Presumably it can be removed. @mattpen is this safe to do now?

[2022-01-26 15:46] mattpen commented on #9
@jonathanolson - it should have been removed before publication, unless there was some other reason to keep it around I'm not aware of. I'll remove it now. It can be restored from peta if needed.

[2022-01-26 15:46] #9 closed

[2022-01-27 17:36] jonathanolson commented on #131
Thanks!

[2022-01-27 17:36] #131 closed

[2022-01-27 19:50] zepumph commented on #123
This is published, but we are going to do a MR that includes these three improvements:

* https://github.com/phetsims/studio/issues/243
* https://github.com/phetsims/studio/issues/245
* https://github.com/phetsims/phet-io/issues/1835

[2022-02-11 22:27] DianaTavares commented on #1
Sorry that I check the Design master checklist so late. @KatieWoe  and @jonathanolson for filling and checking the implementation and QA section.

[2022-02-25 19:00] zepumph commented on #123
We have since moved away from a Maintenance Release, we are instead working towards a batch release from master, see https://github.com/orgs/phetsims/projects/44

[2022-03-18 19:34] KatieWoe opened #132 "Dragging blocks does not pan screen"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/785
When zoomed in, dragging a block to the edge of the screen does not pan it. This is the case with any amount of zoom.

**Visuals**
![dragpan](https://user-images.githubusercontent.com/41024075/159070201-28a4c87f-79d4-4685-b371-89d7c85ac926.gif)

Troubleshooting

[2022-03-18 20:12] Nancy-Salpepi commented on #132
First reported in this issue in  https://github.com/phetsims/scenery/issues/1321

[2022-03-21 16:29] jonathanolson commented on #132
Implemented above, can you verify?

[2022-03-21 16:38] KatieWoe commented on #132
Looks really good on master

[2022-03-21 17:04] jonathanolson commented on #132
Thanks!

[2022-04-13 18:59] KatieWoe opened #133 "CT Designed API changes detected, please roll them back or revise the reference API:"
[code]

[2022-05-25 05:04] arouinfar opened #134 "Instrument text lablels in blocksRadioButtonGroup"
This was noticed while reviewing Buoyancy in Studio for https://github.com/phetsims/buoyancy/issues/51.

The Compare and Mystery screens have a RadioButtonGroup to control the block set.
<img width="135" alt="image" src="https://user-images.githubusercontent.com/8419308/170183412-ce5b8f56-8f06-403c-bf9d-26cf85709180.png">
<img width="109" alt="image" src="https://user-images.githubusercontent.com/

[2022-07-13 22:54] jonathanolson commented on #134
Implemented in both sims (and fixed alignment), can you see how it looks?

[2022-07-20 20:38] KatieWoe opened #135 "Instruction in Example Guide may describe wrong behavior"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/820
Under the section for Mass Properties under the mystery screen, it says this:

However, the volume seems to change and the density is kept constant instead. I'm not sure if this is an issue with the guide or with the behavior, so assigning @arouinfar as well as @jonathanolson.

**

[2022-07-21 16:23] stemilymill opened #136 "Large volume blocks created with SetValue can remove liquid from the pool"
for https://github.com/phetsims/qa/issues/820

Win10 Chrome 103.0.5060.114

When using SetValue to make the block very large, the block seems to push the liquid out of the pool so that when the block is removed from the pool, there is much less liquid.

**Remaining liquid after large block has been removed from pool**
![density setvalue water pool](https://user-images.githubusercontent.com/8551110

[2022-07-21 16:27] KatieWoe commented on #136
The blocks behave oddly (falling slowly for instance) and don't change size if you enter a volume of 0, which is also within the given range. A console error occurs when you try this.
<img width="960" alt="atzero" src="https://user-images.githubusercontent.com/41024075/180265584-26f29b20-4e37-41e3-b817-34d435099f2d.png">

[2022-07-21 17:32] arouinfar commented on #136
@jonathanolson can the `volumeProperty` be bounded to [1, 10] L? This is the range accessible with the slider, so it seems appropriate to limit the model too. The implications for blocks outside of this range are problematic, as reported by QA.

We can continue to use `"range": { "min": 5e-324, "max": "POSITIVE_INFINITY" }` for the mass and density, since we should be keeping volume constant.

[2022-07-21 17:35] arouinfar commented on #135
@jonathanolson this isn't the intended behavior, and the Examples doc is consistent with the `phetioDocumentation` of the `massProperty` which states:

[2022-07-21 17:38] arouinfar commented on #134
Looks great, thanks @jonathanolson

[2022-07-21 17:38] #134 closed

[2022-07-21 17:42] arouinfar opened #137 "Updates to `phetioFeatured`overrides"
For https://github.com/phetsims/qa/issues/820

I've noticed a few elements that should be featured, including:
- [ ] `customColorProperty`
- [ ] `label.textProperty`

I'll do another pass through the tree to see if there's anything else I've missed.

[2022-07-21 18:28] KatieWoe opened #138 "Same volume yellow block has wrong properties and color"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/820.
The property `density.compareScreen.model.blockSets.sameVolume.yellowBlock.materialProperty` does not seem to exist under the studio tree. The properties under the yellow block in the same volume scene of the compare screen are also different that the other blocks in the scene an

[2022-07-21 19:24] KatieWoe opened #139 "Potential difficulty in the same mass scene"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/820.
On the compare screen, the example guide states that density and volume can be changed, and mass will change to accommodate while the other stays constant. This does appear to be the behavior. However, the same mass scene can face some difficulties when trying to make customizati

[2022-07-22 17:56] KatieWoe opened #140 "In-sim controls for custom blocks seem broken"
**Test device**
MacBook Pro
**Operating System**
MacOS 12.15
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/820. Seen in base sim as well as phet-io.
On the intro screen, switching a block to custom changes the mass of the block significantly and may even cause the mass to not match what is said on the slider. In addition, changing the mass slider changes the

[2022-07-25 15:32] arouinfar commented on #139
Thanks @KatieWoe. I don't think there is anything we should do to change the way the model behaves when customizing the `materialProperty` or `volumeProperty`. However, I added additional clarification to the Examples doc, and it now reads:

[2022-07-25 15:32] #139 closed

[2022-07-25 16:41] arouinfar opened #141 "Use dynamic layout on Compare Screen NumberControl panels"
Related to https://github.com/phetsims/qa/issues/820

In https://github.com/phetsims/density-buoyancy-common/commit/6102ec1424052945ac35394d8d93e06e0b389276 @jonathanolson added dynamic layout to the  NumberControlPanels on the Compare Screen.

However, there seems to be some sort of regression because the panel is not resizing to fit the contents in master or in 1.1.0-dev.2
![image](https://user-

[2022-07-25 19:30] KatieWoe commented on #140
This did not happen in the published version.

[2022-07-30 03:08] jonathanolson commented on #141
This should be handled above, @arouinfar can you test it out?

[2022-08-05 21:16] jonathanolson commented on #138
Yes, this looks as expected (since the yellow block is much denser than the others, it will appear darker).

The code that determines the appearance is:
[code]
(with the provided color - yellow, and density) - It blends the color with the density.

The utility function for density => lightness in general is
[code]

[2022-08-05 21:32] jonathanolson commented on #135
My impression was the intended behavior is for the volume to update when mass is changed (especially for phet-io changes). Is that the desired behavior for this?

Work for https://github.com/phetsims/density/issues/101 notes the desire to change the volume, and the Mystery screen has the option `adjustMassWithVolume` set to true.

If that's not the desired behavior, it might be a significant amoun

[2022-08-05 23:36] jonathanolson commented on #140
Broken in commit https://github.com/phetsims/density-buoyancy-common/commit/56093e1a86bc016b2e970b4ce13cc2288fcec9e4 (determined by bisection)

[2022-08-06 01:44] jonathanolson commented on #140
I believe the above commit should fix this, but I'm concerned about regressions when switching to/from custom. @KatieWoe would you be able to test some cases on master?

[2022-08-08 16:29] KatieWoe commented on #140
The volume change seems fixed, but the mass being wrong when you switch to custom, including making a small block bounce wildly, is still a problem.
![boing](https://user-images.githubusercontent.com/41024075/183467106-dbdcda56-c0d3-48e9-b2a5-22ccd9040731.gif)
![masswrong](https://user-images.githubusercontent.com/41024075/183467115-9fd9c8e5-30e7-4f16-952c-86271c9ff2ab.gif)

[2022-08-11 00:15] jonathanolson commented on #133
@zepumph this isn't coming up in a generate-phet-io-api, how would I fix this?

[2022-08-11 01:05] jonathanolson commented on #133
Actually, hopefully the above commit fixes this?

[2022-08-11 01:06] jonathanolson commented on #136
I added [1, 10] L limits for all of the masses in Density. It needs to be set per-mass, since a cube in Buoyancy is OVER that limit, and cones can go UNDER that limit.

@arouinfar can you see how this looks?

[2022-08-11 18:59] zepumph commented on #133
From https://github.com/phetsims/density/issues/133#issuecomment-1188227655

The error itself is the same, but for different changes. @jonathanolson the Density API is just something to consider as you develop buoyancy. This will continue to happen, and if we aren't careful, and leak into other API updates when we change common code.

[2022-08-13 02:23] jonathanolson opened #142 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-15 16:15] KatieWoe commented on #140
After a quick check on master it looks fixed

[2022-08-22 21:05] arouinfar commented on #141
Thanks @jonathanolson. Overall, looking good, though I think it would be nice to maintain some padding between the label an the NumberDisplay. It looks a bit cramped:
<img width="118" alt="image" src="https://user-images.githubusercontent.com/8419308/186018916-1e046382-1283-4b0e-b85e-57ecd127b04a.png">

[2022-08-22 21:09] arouinfar commented on #138
Thanks for the clarification @jonathanolson.

It seems like if we want the yellow block to look a bit more yellow, we should swap its density with one of the other blocks. @DianaTavares what would you like to do?

[2022-08-22 21:22] arouinfar commented on #136
Thanks @jonathanolson. Everything looks good in Density.

There are a few cases in Buoyancy that look odd. For example:
`buoyancy.applicationsScreen.model.block.volumeProperty` doesn't have the same range as the corresponding Volume slider. `buoyancy.applicationsScreen.model.boat.volumeProperty` is similar, the range is infinite, but for some reason it is read-only, which seems odd.

Let me know i

[2022-08-22 22:04] jonathanolson commented on #136
This sounds helpful, what ranges should specific things have in Buoyancy?

[2022-08-22 23:01] jonathanolson opened #143 "Dynamic string layout"

[2022-08-22 23:08] jonathanolson commented on #141
I believe the NumberControl should now have spacing between the title and NumberDisplay, can you verify?

[2022-08-24 15:18] jonathanolson commented on #143
Completed.

[2022-08-24 15:18] #143 closed

[2022-08-24 15:43] jonathanolson commented on #133
This is still erroring, and it's just a permutation of keys instead of different state, e.g.:

{"units":null,"validValues":null,"value":{"maxX":0.8660253438317398,"maxY":4,"maxZ":0.2,"minX":-0.8660253438317398,"minY":-4,"minZ":-0.2}}

vs

{"value":{"minX":-0.8660253438317399,"minY":-4,"minZ":-0.2,"maxX":0.8660253438317399,"maxY":4,"maxZ":0.2},"validValues":null,"units":null}

@zepumph how would I

[2022-08-24 15:52] KatieWoe opened #144 "CT Missing string information for density-buoyancy-common newtonsPatternProperty.lazyLink"
[code]

[2022-08-24 16:26] DianaTavares commented on #138
I understand that the only problem wiht this block is that its name (yellow) is not so yellow in the view, right?

We agree that the darkness of the block depends on its density, and one block of this compare screen needs a high density to make comparisons more evident; then, the density needs to be the way it is. In the initial state of this scene, we have 2 kg, 4 kg, 6 kg, and 8 kg blocks, and t